<form id="form_login_m" onsubmit="return chk_form_login(this)" method="post" action="javascript:;" name="form_login">
	<div class='text-center' style='height:700px;padding-top:100px'>
		<label>帳號 <input type='text' name='cUsr_uid' id='cUsr_uid' > </label>
		<br>
		<label>密碼 <input type='text' name='cUsr_password' id='cUsr_password' > </label>
		<br>
		<button class='border'>登入</button>
	</div>
</form>
<br>