{{#countChart}}
<div class="row-fluid" style="margin-bottom: 20px; overflow: scroll;">
  <div id="{{id}}" style="min-width: 850px; height: 400px; margin: 0 auto;"></div>
</div>
{{/countChart}}
<div class="row-fluid">
  {{#searchForm}}
  <div class="span6">
    {{&formTop}}
    {{&form}}
    {{&formBottom}}
  </div>
  {{/searchForm}}
  {{#changeMode}}
  <div class="pull-right">
    {{&formTop}}
    {{&form}}
    {{&formBottom}}
  </div>
  {{/changeMode}}
</div>
{{#list}}
<div class="row-fluid">
  {{> streamLog_box_table}}
</div>
{{/list}}