{{#countryChart}}
<div class="row-fluid" style="margin-bottom: 20px; overflow: scroll;">
  <div id="{{id}}" style="min-width: 850px; height: 400px; margin: 0 auto;"></div>
</div>
{{/countryChart}}
<div class="row-fluid">
  {{#searchForm}}
  <div class="span12">
    {{&formTop}}
    {{&form}}
    {{&formBottom}}
  </div>
  {{/searchForm}}
</div>
{{#hasList}}
<div class="row-fluid">
  {{#list}}
    {{> streamLog_box_table}}
  {{/list}}
</div>
{{/hasList}}
{{^hasList}}
<div class="row-fluid">
  <p>{{&listEmpty}}</p>
<div class="row-fluid">
{{/hasList}}