{{#header}}{{> column_center_header}}{{/header}}
{{#log}}
<div class="content-body">
  <div class="row-fluid">
    <ul class="nav nav-tabs">
      {{#func}}
      <li{{#current}} class="active"{{/current}}>{{&link}}</li>
      {{/func}}
    </ul>
  </div>
</div>
{{/log}}