<div class="row-fluid">
  {{#searchForm}}
  <div class="span12">
    {{&formTop}}
    {{&form}}
    {{&formBottom}}
  </div>
  {{/searchForm}}
</div>
{{#hasList}}
<div class="row-fluid">
  {{#list}}
    {{> streamLog_box_table}}
  {{/list}}
</div>
  {{#listSplit}}
    {{> list_pageSplit}}
  {{/listSplit}}
{{/hasList}}
{{^hasList}}
<div class="row-fluid">
  <p>{{&listEmpty}}</p>
<div class="row-fluid">
{{/hasList}}