<div class="shopping_addressee">
  <h5><i class="icon-reorder"></i>&nbsp;{{&title}}</h5>
  <table class="table table-bordered table-striped">
    <tbody>
      {{#accountJSON}}
      <tr>
        <td colspan="4">
          <label class="checkbox inline" for="paymentSame" class="Same">
            <input data-account='{{&accountJSON}}' type="checkbox" value="1" id="paymentSame" />同付款人資料
          </label>
        </td>
      </tr>
      {{/accountJSON}}
      <tr>
        <td width="15%">{{&fields.a_name.label}}</td>
        <td width="35%">{{&fields.a_name.field}}</td>
        <td width="15%">{{&fields.a_email.label}}</td>
        <td width="35%">{{&fields.a_email.field}}</td>
      </tr>
      <tr>
        <td>{{&fields.a_phone.label}}</td>
        <td>{{&fields.a_phone.field}}</td>
        <td>{{&fields.a_cellphone.label}}</td>
        <td>{{&fields.a_cellphone.field}}</td>
      </tr>
      <tr>
        <td>{{&fields.a_address.label}}</td>
        <td colspan="3">{{&fields.a_address.field}}</td>
      </tr>
    <tbody>
  </table>
</div>