{{#product}}
<div class="row shopping-cart-items-box">
  <div class="col-sm-12 col-md-12">
  {{> components_table}}
  </div>
</div>
{{/product}}
{{#total}}
<div class="row shopping-cart-total-box">
  <div class="total-label col-lg-3 col-lg-offset-6 col-md-3 col-md-offset-6 col-sm-3 col-sm-offset-5 col-xs-4 col-xs-offset-3 text-right">{{&name}}：</div>
  <div class="total-value col-lg-3 col-md-3 col-sm-4 col-xs-5 text-right">{{&text}}</div>
</div>
{{/total}}