<div class="shopping_default">
  {{&form.top}}
  <h3 class="page-header" style="margin-top: 0px;">購物清單</h3>
  <div class="shopping-step-box">
  {{> shopping_step}}
  </div>
  <div class="shopping-cart-box">
  {{#cart}}
    {{> shopping_cart}}
  {{/cart}}
  </div>
  <div class="shopping-func-box text-right">{{&form.button}}</div>
  {{&form.bottom}}
</div>