<div class="shopping_info">
  {{&form.top}}
  {{#form.hidden}}{{&.}}{{/form.hidden}}
  {{#form.alert}}{{> form_alert}}{{/form.alert}}
  {{> shopping_step}}
  {{#cart}}
    {{> shopping_cart}}
  {{/cart}}
  <hr />
  {{#payment_method}}
    {{> shopping_paymentMethod}}
  {{/payment_method}}
  <hr />
  {{#payment}}
    {{> shopping_payment}}
  {{/payment}}
  <hr />
  {{#invoice}}
    {{> shopping_invoice}}
  {{/invoice}}
  <hr />
  {{#addressee}}
    {{> shopping_addressee}}
  {{/addressee}}
  <hr />
  <div class="form-actions center">{{&form.button}}</div>
  {{&form.bottom}}
</div>