<div class="shopping_invoice">
  <h5><i class="icon-reorder"></i>&nbsp;{{&title}}</h5>
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td colspan="4">{{&fields.invoice.field}}</td>
      </tr>
      <tr class="invoice-info"{{^show}} style="display: none;"{{/show}}>
        <td width="15%">{{&fields.invoice_title.label}}</td>
        <td width="35%">{{&fields.invoice_title.field}}</td>
        <td width="15%">{{&fields.invoice_id.label}}</td>
        <td width="35%">{{&fields.invoice_id.field}}</td>
      </tr>
      <tr class="invoice-info"{{^show}} style="display: none;"{{/show}}>
        <td>{{&fields.invoice_address.label}}</td>
        <td colspan="3">{{&fields.invoice_address.field}}</td>
      </tr>
    </tbody>
  </table>
</div>