<div class="shopping_payment">
  <h5><i class="icon-reorder"></i>&nbsp;{{&title}}</h5>
  <table class="table table-bordered table-striped">
    <tbody>
      {{#accountJSON}}
      <tr>
        <td colspan="4">
          <label class="checkbox inline" for="accountSame" class="Same">
            <input data-account='{{&accountJSON}}' type="checkbox" value="1" id="accountSame" />同會員帳號資料
          </label>
        </td>
      </tr>
      {{/accountJSON}}
      <tr>
        <td width="15%">{{&fields.name.label}}</td>
        <td width="35%">{{&fields.name.field}}</td>
        <td width="15%">{{&fields.email.label}}</td>
        <td width="35%">{{&fields.email.field}}</td>
      </tr>
      <tr>
        <td>{{&fields.phone.label}}</td>
        <td>{{&fields.phone.field}}</td>
        <td>{{&fields.cellphone.label}}</td>
        <td>{{&fields.cellphone.field}}</td>
      </tr>
      <tr>
        <td>{{&fields.address.label}}</td>
        <td colspan="3">{{&fields.address.field}}</td>
      </tr>
    <tbody>
  </table>
</div>