<div class="shopping_paymentMethod">
  <h5><i class="icon-reorder"></i>&nbsp;{{&title}}&nbsp;</h5>
  <table class="table table-bordered table-striped">
    <tbody>
      {{#method}}
      <tr>
        <td width="15%">{{&text}}</td>
        <td width="85%">{{&intro}}</td>
      </tr>
      {{/method}}
    </tbody>
  </table>
</div>