{{#step.hasSetp}}
<div class="row form-group">
  <div class="col-xs-12">
    <ul class="nav nav-pills nav-justified thumbnail">
      {{#step.list}}
      <li class="{{#current}}active{{/current}}{{#disabled}}disabled{{/disabled}}">
        <a href="{{link}}">
          <h4 class="list-group-item-heading">{{step.stepText}} {{id}}</h4>
          <p class="list-group-item-text">{{#current}}<i class="glyphicon glyphicon-chevron-right"></i>&nbsp;{{/current}}{{&text}}</p>
        </a>
      </li>
      {{/step.list}}
    </ul>
  </div>
</div>
{{/step.hasSetp}}