<div class="shopping_success">
  {{> shopping_step}}
  {{#ordersInfo}}
  <div class="shopping_ordersInfo">
    <h5><i class="icon-reorder"></i>&nbsp;訂單資訊</h5>
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td width="15%">{{&id.label}}</td>
          <td width="35%">{{&id.value}}</td>
          <td width="15%">{{&status.label}}</td>
          <td width="35%">{{&status.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {{/ordersInfo}}
  <hr />
  {{#cart}}
    {{> shopping_cart}}
  {{/cart}}
  <hr />
  {{#payment_method}}
    {{> shopping_paymentMethod}}
  {{/payment_method}}
  <hr />
  {{#payment}}
    {{> shopping_payment}}
  {{/payment}}
  <hr />
  {{#invoice}}
    {{> shopping_invoice}}
  {{/invoice}}
  <hr />
  {{#addressee}}
    {{> shopping_addressee}}
  {{/addressee}}
  <hr />
  <div class="form-actions center">{{&button}}</div>
</div>