<html>
<head>
{{#isPc}}
<script type="text/javascript" src="/website/tmpl/flowplayer/flowplayer-3.2.12.min.js"></script>
<script type="text/javascript" src="/website/tmpl/flowplayer/flowplayer.embed-3.2.10.js"></script>
{{/isPc}}
{{^isPc}}
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
{{/isPc}}
<!--<link href="http://61.63.6.155/css/style_s.css" rel="stylesheet" type="text/css" />-->
</head>
<body topmargin="0" leftmargin="0">
{{#player}}
	{{&player}}
{{/player}}
</body>
</html>