{{#data}}
	<div class='row videoListRow'>
		<a href='/{{#isVideo}}media{{/isVideo}}{{^isVideo}}photo{{/isVideo}}/detail/?recordId={{&id}}{{#get_params.catalog}}&catalog={{&get_params.catalog}}{{/get_params.catalog}}' class='col-sm-3'>
			{{#file_img}}
			<img src="/upload/{{&file_img}}" alt="{{&headline}}" class='maxHeight130' border="0">
			{{/file_img}}
			{{^file_img}}
			<img src="/upload/{{&file}}" alt="{{&headline}}" class='maxHeight130' border="0">
			{{/file_img}}
		</a>
		<div class='col-sm-9 '>
			<h2 class='videoListTitle'>{{&headline}}</h2>
			<div class='videoListContent'>
				<div>作者： <span>{{&author}}</span> </div>
				{{#isVideo}}
				<div class='video'>片長： <span>{{&video_length}}</span> </div>
				{{/isVideo}}
				<div>觀看次數： <span>{{&clickcount}}</span> </div>
				<div>上架日期： <time>{{&start_date}}</time> </div>
				{{^isVideo}}
				<div class='image'><button class='pull-right' onClick="openIframe({{&file}})">下　　載</button></div>
				{{/isVideo}}
			</div>
		</div>
	</div>			
{{/data}}