<script type="text/javascript" src="/website/tmpl/flowplayer/flowplayer-3.2.12.min.js"></script>
<!--<script type="text/javascript" src="/website/tmpl/js/copy.js"></script>-->
<script type="text/javascript" src="/website/tmpl/js/jquery-1.10.2.min.js"></script> 
<script type="text/javascript" src="/website/tmpl/js/ZeroClipboard.js"></script> 
{{#data}}
<div class='bgPlayer'>
	<div class='container'>
		<div class='pageImagePlayer container'>
			<div class='row'>
				<div class='col-sm-12'>
					{{#isPc}}<div style="width:480px;height:270px;">{{/isPc}}
					{{^isPc}}<div class="play_m">{{/isPc}}
						{{#player}}
							{{&player}}
						 {{/player}}
					</div>
				</div>
			</div>
			{{#isPc}}
			{{#iframe_url}}	
			
				
					<div id="copy1" style="width:480px;height: 30px;clear:both;" data-clipboard-target="mycode1" data-clipboard-text="Default clipboard text from attribute">
					   <input type="text" size="50" name="mycode1" id="mycode1" value="{{&iframe_url}}" readonly style="width:430px;height:30px;">
					   <input id="copy-btn" name="copy-btn" type="button" value="複製" >
					</div>
				
			
			{{/iframe_url}}	
			{{/isPc}}
			
			<div class='row' style='clear:both;'>
				<div class='col-sm-7'>
					<span class='border inline'>上架日期</span>
					<time>{{&start_date}}</time>
				</div>
				<div class='col-sm-5'>
					<div class=''>
						<span class='border inline'>觀看次數</span>
						<span>{{&clickcount}}</span>
					</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-sm-7'>
					<span class='border inline'>作　　者</span>
					<span>{{&author}}</span>
				</div>	
				<div class='col-sm-5'>
					<div class=''>
						<span class='border inline'>片　　長</span>
						<span>{{video_length}}</span>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>		
<div class='bgPlayerBody'>
		<article class='pageImageArticle'>
			<h1 class='pageImageArticleTitle text-center'>{{&headline}}</h1>
			<hr>
			<pre class='pageImageArticleBody'>
				<p>{{&desc}}</p>
			</pre>
			<br>
			<div class='center-block' style='max-width:700px;font-size:small'>
				{{#headline_sub_4}}<div>相關題名：{{&headline_sub_4}}</div>{{/headline_sub_4}}
				{{#headline_sub_3}}<div>系列名：{{&headline_sub_3}}</div>{{/headline_sub_3}}
				{{#headline_sub_2}}<div>關鍵字：{{&headline_sub_2}}</div>{{/headline_sub_2}}
				{{#headline_sub_1}}<div>其他參與者：{{&headline_sub_1}}</div>{{/headline_sub_1}}
				{{#release}}<div>出版者╱主辦單位：{{&release}}</div>{{/release}}
				{{#attr_2}}<div>語言：{{&attr_2}}</div>{{/attr_2}}
				{{#login_status}}<div>授權使用範圍：{{&login_status}}</div>{{/login_status}}
				{{#attr_4}}<div>影片來源：{{&attr_4}}</div>{{/attr_4}}
			</div>
			<br>
			<br>
		</article>
</div>
{{/data}}
{{^data}}
	<div>查無檔案</div>
{{/data}}

{{#isPc}}
{{#iframe_url}}	
 <script>
(function(){
	ZeroClipboard.setDefaults({ 
		moviePath:"/website/tmpl/js/ZeroClipboard.swf" 
	});
	var clip=new ZeroClipboard($("#copy1"));
	
	clip.on("load",function(event){
		console.log( 'loaddddddd' );
	});
	clip.on("complete", function(client,args) {
        alert("複製成功");
    } );
	
	
		
	/*clip.setHandCursor( true );
	clip.on("copy", function (event) {
		clipboard.setData("text/plain", text);
		alert('複製成功');
	});*/
})();
</script>  
{{/iframe_url}}	 
{{/isPc}}