<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="text/javascript" src="/website/tmpl/flowplayer/flowplayer-3.2.12.min.js"></script>
<script type="text/javascript" src="/website/tmpl/flowplayer/flowplayer.embed-3.2.10.js"></script>
<link href="http://61.63.6.155/css/style_s.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/website/tmpl/js/jquery.js"></script>

<script type="text/javascript" src="/website/tmpl/js/copy.js"></script>
{{^isPc}}
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
{{/isPc}}

</head>
<body topmargin="0" leftmargin="0">

 <div class="main_in_left">
     <div class="route">
       <table width="500" border="0" cellspacing="2" cellpadding="0">
         <tr>
           <td width="28"><img src="http://61.63.6.155/images/icon_route.png" width="28" height="28" alt="*" /></td>
           <td width="466"><a href="index.php">首頁</a> &gt; <span class="pink">影片播放</span><a href="http://61.63.6.155:8080/vod/_definst_/cmvod/1205/1205_1689_1.mp4/playlist.m3u8?iMda_seq=1205-iMdaf_seq=1692-iUsr_seq=-iUgp_seq="><img src="http://61.63.6.155/images/1p.gif" width="28" height="28" /></a></td>
         </tr>
       </table>
        <!--allow=,iplogin=,userloging=,public=,outside=-->
     </div>
     {{#player}}
		{{&player}}
	 {{/player}}
	

{{#iframe_url}}	
 <div class="route">  
       <table width="500" border="0" cellspacing="2" cellpadding="0">
         <tr>          
           <td width="30">&nbsp;</td>              
           <td width="354">
           <div id="copy1" align="center" style="height: 30px;">
           <input type="text" size="50" name="mycode1" id="mycode1" value="{{&iframe_url}}">
           <input id="copy-btn" type="button" value="複製">
           </div>
           </td>
         </tr>
       </table>        
     </div>
{{/iframe_url}}	
{{#title}}
	 <div class="play_intro">
		 <h5>{{&title}}</h5>

		   <table width="100%" border="0" cellspacing="2" cellpadding="5">
			 
			{{#data}}
				<tr>
				<td height="35" align="right" bgcolor="#E7F4CE" class="dark_green">{{&label}}</td>
				<td width="320" bgcolor="#EEEEEE">{{&value}}</td>
				</tr>
			{{/data}}
			 
			 <tr>
				<td colspan"2">以下是缺的欄位</td>
			 </tr>
			 <tr>
			   <td height="35" align="right" bgcolor="#E7F4CE" class="dark_green">片長</td>
			   <td width="320" bgcolor="#EEEEEE">37秒</td>
			 </tr>
			 <tr>
			   <td height="35" align="right" bgcolor="#E7F4CE" class="dark_green">播放次數</td>
			   <td width="320" bgcolor="#EEEEEE">289</td>
			 </tr>
			 <tr>
			   <td height="35" align="right" bgcolor="#E7F4CE" class="dark_green">分級</td>
			   <td width="320" bgcolor="#EEEEEE">普遍級</td>
			 </tr>
			 
		   </table>
		   <h4>&nbsp;</h4>
     </div>
</div>
{{/title}}
<div style="clear:both">&nbsp;</div>
{{^title}}
	<div>查無檔案</div>
{{/title}}
{{#iframe_url}}	
 <script type="text/javascript">
		ZeroClipboard.setMoviePath('/website/tmpl/js/ZeroClipboard.swf');
		var clip1 = new ZeroClipboard.Client();
        clip1.setText( "" );
        clip1.setHandCursor( true );
        clip1.setText( document.getElementById("mycode1").value );
        clip1.addEventListener("complete", function(client) {
        	alert("複製成功");
        } );
                                 
       if (clip1.div) {
		  clip1.receiveEvent("mouseout", null);
		  clip1.reposition("copy1");
	    }else clip1.glue("copy1");

</script>  
{{/iframe_url}}	 

</body>
</html>