<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<div class='text'>
	<section class='contentHeader '>
		<div class='container'>
			<div class='row'>
					<div class='contentHeaderDot'></div>
					<h1 class='column border contentHeaderTitle'>進階搜尋</h1>
				<div class='pull-right'>
					<div class='contentHeaderMenu' >
					 						 		<button class='contentHeaderMenuDate'>發布日期 △ </button>
						 	<button class='border contentHeaderMenuViews'>觀看次數</button>
						 	<button class='border contentHeaderMenuVideoLength'>影片長度</button>
																			<button class='border_ '><span class='glyphicon glyphicon-th-large'></span></button>
						 	<button class='border'><span class='glyphicon glyphicon-th-list'></span></button>
											 </div>
				</div>
				 <br>
				 <div class='pageSerachResultInfo'>
				 		查詢條件dfsfsafsdfasfasfdasdfasfd，共4252525符合結果。

				 </div>
			</div>
		</div>
	</section>	
</div>
<div class='pageSearchContent'>
	<div class='container w900 '>
		<form name="form_search_detail" action="../media/" method="get">
		<h2 class='text-center pageSearchTitle2'>請選擇欲查詢的欄位並輸入關鍵字</h2>
		<div class='text-center'>
			<select>
				<option>影片名稱、簡介</option>
				<option>影片名稱、簡介</option>
			</select>
			<input type='text' placeholder='請輸入關鍵字搜尋影片' style='width:400px'>
			<div>
				<span>　　請選擇類型　　</span>
				<span>
					<label><input type='radio' name='searchCategory'> 影片　　　</label>
					<label><input type='radio' name='searchCategory'> 相片　　　</label>
					<label><input type='radio' name='searchCategory'> 聲音　　　</label>
				</span>
			</div>
		</div>
		<hr>
		<h2 class='text-center pageSearchTitle2'>請指定下列配合條件</h2>
		<div class='row'>			
			<div class='col-sm-4 text-right'>
				出版者
			</div>
			<div class='col-sm-4'>
				<input class='widthFull' type='text' placeholder='請輸入出版者'>
			</div>
			<div class='col-sm-4'>
				<label><input type='radio' name='date'> AND</label>
				<label><input type='radio' name='date'> OR</label>
				<label><input type='radio' name='date'> NOT</label>		
			</div>
		</div>
		<div class='row'>			
			<div class='col-sm-4 text-right'>
				語言
			</div>
			<div class='col-sm-4'>
				<input class='widthFull' type='text' placeholder='請輸入語言'>
			</div>
			<div class='col-sm-4'>
				<label><input type='radio' name='date'> AND</label>
				<label><input type='radio' name='date'> OR</label>
				<label><input type='radio' name='date'> NOT</label>		
			</div>
		</div>
		<div class='row'>			
			<div class='col-sm-4 text-right'>
				上架日期
			</div>
			<div class='col-sm-4'>
				<select>
					<option>請選擇</option>
					<option>選擇日期</option>
				</select>
				～
				<select>
					<option>請選擇</option>
					<option>選擇日期</option>
				</select>
			</div>
			<div class='col-sm-4'>
				<label><input type='radio' name='date'> AND</label>
				<label><input type='radio' name='date'> OR</label>
				<label><input type='radio' name='date'> NOT</label>		
			</div>
		</div>
		<div class='row'>			
			<div class='col-sm-4 text-right'>
				排序方式
			</div>
			<div class='col-sm-4'>
				<select class='widthFull'>
					<option>請選擇</option>
				</select>
			</div>
			<div class='col-sm-4'>
				<label><input type='radio' name='date'> 遞增</label>
				<label><input type='radio' name='date'> 遞減</label>
			</div>
		</div>

		<hr>
		<center>
			<button>查　　詢</button>
			<button class='border' type="reset" onclick="document.form_search_detail.reset();">重新輸入</button>
		</center>
		<br>
		</form>
	</div>	
</div>
<!--{{> box_searchForm}}-->
