{{#data}}
<div class='bgPlayer'>
	<div class='container'>
		<div class='pageImagePlayer'>
			<div id="picArea" class='img-responsive' alt='imgPlayer' style='width:400px;height:260px;'>
				&nbsp;
			</div>
			<div class='playerImagePager'>
				<button class='pull-left' type='button' onClick="minusno()"> 〈 Previous</button>
				<button class='pull-right' type='button' onClick="plusno()">Next 〉 </button>
				<center><span id="mediaPage">--/--</span></center>			
			</div>
			<hr>
			<div class='row '>
				<div class='col-sm-5'>
					<span class='border inline' >上架日期</span>
					<time class='' id="mediaDate">{{&start_date}}</time>
				</div>
				<div class='col-sm-2 text-right'>
					<button class='inline' onClick="openIframe()">下載</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='bgPlayerBody'>
		<article class='pageImageArticle'>
			<h1 id="mediaTitle" class='pageImageArticleTitle text-center'>{{&headline}}</h1>
			<hr>
			<pre class='pageImageArticleBody' id="mediaDesc">
				{{&desc}}
			</pre>		
		</article>
	</div>
</div>
{{/data}}
{{^data}}
	<div>查無檔案</div>
{{/data}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
var no={{#get_params.no}}{{&get_params.no}}{{/get_params.no}}{{^get_params.no}}parseInt("0"){{/get_params.no}};
var total;
var json;
var type={{#get_params.type}}{{&get_params.type}}{{/get_params.type}}{{^get_params.type}}3{{/get_params.type}};
var catalog={{#get_params.catalog}}{{&get_params.catalog}}{{/get_params.catalog}}{{^get_params.catalog}}''{{/get_params.catalog}};
var urlString="/json/?type="+type+'&catalog='+catalog;
$("document").ready(function(){
	
	$.ajax({     
      url: urlString,
      type: "POST",     
      dataType: "json",     
      success: function(data) {  
		
		var NumOfData = data.length; 
		
		/*var $div=$("div");     
		for (var i = 0; i < NumOfData; i++) {     
			$div.append("Headline: "+data[i]["headline"]+", File: "+data[i]["file"]);     
			$div.append("<br/>");     
		} */ 
		for (var i = 0; i < NumOfData; i++) {
			if( data[i]["id"] == {{&get_params.recordId}} ){
				no=i;
			}
		}
		
		json=data;
		total=data.length;
		
		showPic(no);
		
      }     
	}); 
	

	
});
/*改成前後切換*/
function minusno(){
	no-=1;
	if(no<0){
		no=total-1;
	}
	
	showPic(no);
}
function plusno(){
	no+=1;
	if(no>=total){
		no=0;
	}
	
	showPic(no);
}

function showPic(no){
	/*alert(no);*/
	var $pic_area=$("#picArea");
	$pic_area.addClass("animated fadeIn");
	if(json[no]["hasExt"]!=null){
		$pic_area.html("<img border='0' width='300' src='/website/tmpl/img/"+json[no]["hasExt"]+".jpg'>"); 
	}else{
		$pic_area.html("<img border='0' width='300' src='/upload/"+json[no]["file"]+"'>"); 
	}
	page = (no+1)+'/'+total;
	$('#mediaPage').text(page);
	$('#mediaTitle').text((json[no]["headline"]));	
	$('#mediaDesc').html((json[no]["desc"]));
	$('#mediaDate').text((json[no]["start_date"]));		
	
}
function openIframe(){
	var purl = json[no]["file"];
	var dlLink="/download/?file_url="+purl;
	var $ifrm = $("<iframe style='display:none' />");
	$ifrm.attr("src", dlLink);
	$ifrm.appendTo("body");
}
</script>