<section class='contentHeader '>
	<div class='container'>
		<div class='row'>
			<div class='contentHeaderDot'></div>
			<h1 class='column border contentHeaderTitle'>相片列表</h1>
			<div class='pull-right'>
				<div class='contentHeaderMenu' >
						{{#order_list}}
						{{&order_list}}
						{{/order_list}}
						{{#layout}}
						<button type='button' class='border{{#isLayoutMode2}}_{{/isLayoutMode2}}' onclick="javascript:xajax_layoutSetuping(2)"><span class='glyphicon glyphicon-th-large'></span></button>
						<button type='button' class='border{{#isLayoutMode1}}_{{/isLayoutMode1}}' onclick="javascript:xajax_layoutSetuping(1)"><span class='glyphicon glyphicon-th-list'></span></button>
						{{/layout}}
				</div>
			</div>
			<br>
			<div class='pageSerachResultInfo'>
			查詢條件dfsfsafsdfasfasfdasdfasfd，共4252525符合結果。
			</div>
		</div>
	</div>
</section>

{{#hasDir}}
<div class='foldersHead'></div>
<section class='viedos folders_  clearfix'>
	<div class='container'>
		{{#dir}}
		{{#startRows}}<div class='row'>{{/startRows}}
		<div class='col-sm-6 col-lg-3'>
			<a href='/photo/?catalog={{&id}}' class='imgItem center-block'>
				<div class='imgItemImg'>
					<img src="/website/tmpl/img/folder01.png" class='img-responsive center-block' alt='folder' />
				</div>
				<figcaption class='imgItemCaption'>
				{{&headline}}
				</figcaption>
			</a>
		</div>
		{{#endRows}}</div>{{/endRows}}
		{{/dir}}
	</div>
</section>	
<div class='viedosPaddingFoot'></div>
{{/hasDir}}
<div class='image'>
	<div class='viedosPaddingHead'></div>
		<section class='viedos  clearfix'>
			<div class='container '>
			<!-- 內容 -->
			{{&file_list}}
			</div>
		</section>
	<div class='viedosPaddingFoot'></div>
</div>

{{#hasClass}}
{{> box_category}}
{{/hasClass}}

<script type="text/javascript">
function fix_args(obj, col, val)
{
	obj.href = location.pathname + location.search;
	obj.href = fix_location(obj.href, col, val);
	return true;
}
function fix_location(href, col, val)
{
	var regex=eval('/'+col+'=[^&]*/g');
	if (href.match(regex)) {
		href = href.replace(regex,col+"="+val);
	} else {
		var c = "&";
		var q = href.indexOf("?");
		if (q==-1)
			c = "?";
		href = href + c + col+"="+val;
	}
	return href;
}

function rowsPerPageChange(obj)
{
	window.location.replace(fix_location(window.location.href, "rowsPerPage", obj.options[obj.selectedIndex].value));
	obj.form.submit();
}
function openIframe(purl){
	var dlLink="/download/?file_url="+purl;
	var $ifrm = $("<iframe style='display:none' />");
	$ifrm.attr("src", dlLink);
	$ifrm.appendTo("body");
}
</script>