<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
var no={{#get_params.no}}{{&get_params.no}}{{/get_params.no}}{{^get_params.no}}parseInt("0"){{/get_params.no}};
var json;
var type={{#get_params.type}}{{&get_params.type}}{{/get_params.type}}{{^get_params.type}}3{{/get_params.type}};
var catalog={{#get_params.catalog}}{{&get_params.catalog}}{{/get_params.catalog}}{{^get_params.catalog}}''{{/get_params.catalog}};
var urlString="http://localhost/json/?type="+type+'&catalog='+catalog;
$("document").ready(function(){
	
	$.ajax({     
      url: urlString,
      type: "POST",     
      dataType: "json",     
      success: function(data) {  
		
		var NumOfData = data.length; 
		
		/*var $div=$("div");     
		for (var i = 0; i < NumOfData; i++) {     
			$div.append("Headline: "+data[i]["headline"]+", File: "+data[i]["file"]);     
			$div.append("<br/>");     
		} */ 
		
		json=data;
		
		showPic(no);
		
      }     
	}); 
	

	
});
/*改成前後切換*/
function minusno(){
	no-=1;
	if(no<0){
		no=2;
	}
	
	showPic(no);
}
function plusno(){
	no+=1;
	if(no>=3){
		no=0;
	}
	
	showPic(no);
}

function showPic(no){
	
	var $pic_area=$("#picArea");
	$pic_area.addClass("animated fadeIn");
	if(json[no]["hasExt"]!=null){
		$pic_area.html("<img border='0' width='320' src='http://192.168.0.165/website/tmpl/img/"+json[no]["hasExt"]+".jpg'>"); 
	}else{
		$pic_area.html("<img border='0' width='320' src='http://192.168.0.165/upload/"+json[no]["file"]+"'>"); 
	}
	$('#mediaTitle').text(decodeURI(json[no]["headline"]));	
	
}
function openIframe(){
	var purl = json[no]["file"];
	var dlLink="http://192.168.0.165/download/?file_url="+purl;
	var $ifrm = $("<iframe style='display:none' />");
	$ifrm.attr("src", dlLink);
	$ifrm.appendTo("body");
}
</script>
</head>
<body>
<div class="main-breadcrumb">
{{> components_breadcrumb}}
</div>
<div id="picArea">
	
</div>
<p id="mediaTitle"></p>
<div id="leftBtn"><a href="#" onClick="minusno()"> < </a></div>
<div id="rightBtn"><a href="#" onClick="plusno()"> > </a></div>
<p><input type="button" id="b3" value="Download with hidden iframe" onClick="openIframe()"/></p>
</body>
</html>