<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img data-src="holder.js/900x160" alt="..." />
      <div class="carousel-caption">廣告說明文字或文案</div>
    </div>
    <div class="item">
      <img data-src="holder.js/900x160" alt="..." />
      <div class="carousel-caption">廣告說明文字或文案</div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<div class="news-box">
  <div class="page-header">
    <h3>最新消息<small class="pull-right"><a href="javascript:;">More</a></small></h3>
  </div>
  <ul>
    <li><a href="javascript:;">2014/05/22 新聞1</a></li>
    <li><a href="javascript:;">2014/05/22 新聞2</a></li>
    <li><a href="javascript:;">2014/05/22 新聞3</a></li>
  </ul>
</div>
<div class="product-top-box">
  <div class="page-header">
    <h3>暢銷商品<small class="pull-right"><a href="javascript:;">More</a></small></h3>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="..." />
        <div class="caption">
          <h4>產品名稱 <small class="text-danger">$1000</small> <small class="pull-right"><a class="btn btn-primary btn-xs" href="javascript:;">購買</a></small></h4>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="..." />
        <div class="caption">
          <h4>產品名稱 <small class="text-danger">$1000</small> <small class="pull-right"><a class="btn btn-primary btn-xs" href="javascript:;">購買</a></small></h4>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="..." />
        <div class="caption">
          <h4>產品名稱 <small class="text-danger">$1000</small> <small class="pull-right"><a class="btn btn-primary btn-xs" href="javascript:;">購買</a></small></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="..." />
        <div class="caption">
          <h4>產品名稱 <small class="text-danger">$1000</small> <small class="pull-right"><a class="btn btn-primary btn-xs" href="javascript:;">購買</a></small></h4>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="..." />
        <div class="caption">
          <h4>產品名稱 <small class="text-danger">$1000</small> <small class="pull-right"><a class="btn btn-primary btn-xs" href="javascript:;">購買</a></small></h4>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" alt="..." />
        <div class="caption">
          <h4>產品名稱 <small class="text-danger">$1000</small> <small class="pull-right"><a class="btn btn-primary btn-xs" href="javascript:;">購買</a></small></h4>
        </div>
      </div>
    </div>
  </div>
</div>