<!--播放器-->
<section id="" class="hwrap ">
	<div id="slides">
		<ul class="slides-container">
			<li>
				<div class="home-content text-center">
				</div>
				<img title="img note " class='visible-sm theme00' src="website/tmpl/img/bgSlide01.jpg" alt="">
				<img title="img note " class='hidden-sm theme00' src="website/tmpl/img/bgSlide01.jpg" alt="">

			</li>
			<li>
				<div class="home-content text-center">
				</div>
				<img title="img note " class='visible-sm theme00' src="website/tmpl/img/0927_FCU_BG.jpg" alt="">
				<img title="img note " class='hidden-sm theme00' src="website/tmpl/img/0927_FCU_BG.jpg" alt="">

			</li>
		</ul>
		<div class='videoOponSlider'>
			<div class='videoBorder hidden-xs'  data-effect="slide-right" style='padding-top:80px;'>
				{{&player}}
			</div>
			<div class='visible-xs'>
				{{&player}}
			</div>
		</div>
	</div>
</section>
<!--標籤雲-->
<section>
	<div class='text-center bgWhite indexSectionHeader'>
		<div class='contentHeaderDot'></div>
		<h1 class='column border contentHeaderTitle'>標籤雲</h1>
	</div>
	<div class='indexSectionBody'>
		<div class='container'>
			<div class='tagsCloud center-block' style='max-width:700px'>
				{{#keywordArea}}
					{{&keywordArea}}
				{{/keywordArea}}
			</div>
		</div>
	</div>
</section>
<!-- 新上架 -->
<section>
	<div class='text-center bgWhite indexSectionHeader'>
		<div class='contentHeaderDot'></div>
		<h1 class='column border contentHeaderTitle'>新上架</h1>
	</div>
	<div class='text-center bgWhite color'>最新上架的影片將會在此呈現</div>
	<div class='indexSectionBody bgContentBody'>
		<br>
		<section class='viedos clearfix bgNone'>
		
			<div class='container'>
					{{#newRows}}
					{{#data}}
					{{#startRows}}<div class='row'>{{/startRows}}
					<div class='col-sm-6 col-lg-3'>
						<a href='/media/detail/?recordId={{&id}}{{#catalog}}&catalog={{&catalog}}{{/catalog}}' class='imgItem center-block'>
							<div class='imgItemImg'>
								<img src="upload/{{&file_img}}" class='img-responsive center-block' alt='folder' />
							</div>
							<figcaption class='imgItemCaption'>
							{{headline}}
							</figcaption>
						</a>					
						<div class='imgItemDescription image'>
							<button class='pull-right'>下　　載</button>
							<div>
								<div>
									日期：<time>{{start_date}}</time>
								</div>
								<div>
									觀看次數：<span>{{clickcount}}</span>
								</div>
								<!-- <br> -->
							</div>
						</div>
						<div class='imgItemDescription video'>
							<!-- <button class='pull-right'>下　　載</button> -->
							<div class=''>
								<div class='column'>
									<div>
										作者：<span>{{author}}</span>
									</div>
									<div>
										片長：<span>{{video_length}}</span>
									</div>
									<div>
										日期：<time>{{start_date}}</time>
									</div>
								</div>
								<div class=''>
									<div>
										觀看次數：<span>{{clickcount}}</span>
									</div>
								</div>
								<!-- <br> -->
							</div>
						</div>
					</div>
					{{#endRows}}</div>{{/endRows}}
					{{/data}}
					{{#more}}
						{{&more}}
					{{/more}}
					{{/newRows}}
					
				
			</div>
		</section>
	</div>
</section>
<!-- 排行榜 -->
<section>
	<div class='text-center bgWhite indexSectionHeader'>
		<div class='contentHeaderDot'></div>
		<h1 class='column border contentHeaderTitle'>排行榜</h1>
	</div>
	<div class='text-center bgWhite color'>影片依照觀看次數由高而低在此呈現</div>
	<div class='indexSectionBody bgContentBody'>
		<br>
		<section class='viedos clearfix bgNone'>
			<div class='container'>
					{{#hotRows}}
					{{#data}}
					{{#startRows}}<div class='row'>{{/startRows}}
					<div class='col-sm-6 col-lg-3'>
											
						<a href='/media/detail/?recordId={{&id}}{{#catalog}}&catalog={{&catalog}}{{/catalog}}' class='imgItem center-block'>
							<div class='imgItemImg'>
								<img src='upload/{{&file_img}}' class='img-responsive center-block' alt='folder' />
							</div>
							<figcaption class='imgItemCaption'>
							{{headline}}
							</figcaption>
						</a>					
						<div class='imgItemDescription image'>
							<button class='pull-right'>下　　載</button>
							<div>
								<div>
									日期：<time>{{start_date}}</time>
								</div>
								<div>
									觀看次數：<span>{{clickcount}}</span>
								</div>
								<!-- <br> -->
							</div>
						</div>
						<div class='imgItemDescription video'>
							<!-- <button class='pull-right'>下　　載</button> -->
							<div class=''>
								<div class='column'>
									<div>
										作者：<span>{{author}}</span>
									</div>
									<div>
										片長：<span>{{video_length}}</span>
									</div>
									<div>
										日期：<time>{{start_date}}</time>
									</div>
								</div>
								<div class=''>
									<div>
										觀看次數：<span>{{clickcount}}</span>
									</div>
								</div>
								<!-- <br> -->
							</div>
						</div>
					</div>
					{{#endRows}}</div>{{/endRows}}
					{{/data}}
					{{#more}}
						{{&more}}
					{{/more}}
					{{/hotRows}}
			</div>
		</section>
	</div>
</section>