<h2 class="short_headline" style="margin-top: 0px;"><span>{{lang.header}}</span></h2>
{{#formAlert}} {{> form_alert}} {{/formAlert}}
<div class="row-fluid reverse-order contact-page">
  <div class="span5">
    {{&intro}}
  </div>
  <div class="span7">
    {{&formTop}}
      {{#form}}
        {{> form_groups}}
      {{/form}}
      <fieldset>
        {{#regField}}
          {{> form_regField}}
        {{/regField}}
        <div class="form-actions">{{&formButton}}</div>
      </fieldset>
    {{&formBottom}}
  </div>
</div>