{{#header}}{{> column_header}}{{/header}}
<section class="section">
  <div class="container">
    <div class="signin-form row-fluid">
      <div class="span6 offset3">
        <div class="box corner-all">
          <div class="box-header grd-teal color-white corner-top">
            <span>{{&form.formTitle}}:</span>
          </div>
          <div class="box-body bg-white">
            {{&form.formTop}}
            <div class="control-group">
              <p>{{&form.formIntro}}</p>
            </div>
            {{#form.formColumn}}{{> form_fields}}{{/form.formColumn}}
            <!--<div class="control-group">
              <label class="checkbox">
                <input type="checkbox" data-form="uniform" name="remember_me" value="1" /> {{form.btnRemember}}
              </label>
            </div>-->
            <div class="form-actions">
              <input type="submit" class="btn btn-block btn-large btn-primary" value="{{form.btnLogin}}" />
              <p class="recover-account">{{&form.linkForgetPassword}}</p>
            </div>
            {{&form.formBottom}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>