{{#header}}{{> column_header}}{{/header}}
<section class="section">
  <div class="row-fluid">
    <div id="columnLeft" class="span1">{{#columnLeft}}{{> column_left}}{{/columnLeft}}</div>
    <div class="span11">
      <div id="columnCenter" class="content"></div>
    </div>
  </div>
</section>
<footer><a rel="to-top" href="javascript:;"><i class="icofont-circle-arrow-up"></i></a></footer>