<form name="uploadForm" action="{{formAction}}" method="POST" enctype="multipart/form-data">
{{#formParams}}
  <input type="hidden" name="{{key}}" value="{{value}}" />
{{/formParams}}
  <div class="fileupload-ui">
    <div class="row-fluid fileupload-buttonbar">
      <div class="span7">
        <span class="btn fileinput-button">
          <i class="icofont-plus"></i>
          <span>{{btnAdd}}</span>
          <input type="file" name="files" multiple />
        </span>
        <button type="submit" class="btn btn-primary start">
          <i class="icofont-upload"></i>
          <span>{{btnAllStart}}</span>
        </button>
        <button type="reset" class="btn cancel">
          <i class="icofont-ban-circle"></i>
          <span>{{btnAllStop}}</span>
        </button>
        <button type="button" class="btn btn-danger delete">
          <i class="icofont-trash"></i>
          <span>{{btnRemove}}</span>
        </button>
        <input type="checkbox" class="toggle" />
      </div>
      <div class="span5 fileupload-progress fade">
        <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
          <div class="bar" style="width:0%;"></div>
        </div>
        <div class="progress-extended">&nbsp;</div>
      </div>
    </div>
    <div class="row-fluid"><div class="fileupload-loading"></div></div>
    <div class="row-fluid">
      <table role="presentation" class="table table-striped">
        <thead>
          <tr>
            <th>{{colPreview}}</th>
            <th>{{colName}}</th>
            <th>{{colSize}}</th>
            <th colspan="2">{{colMessage}}</th>
            <th>{{colAction}}</th>
          </tr>
        </thead>
        <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
      </table>
    </div>
  </div>
</form>