<li data-cmfield-data-id="{{id}}"  data-cmfield-func="content-item" class="media">
  <a class="pull-left thumbnail" target="_blank" href="{{preview}}">{{&thumbnail}}</a>
  <div class="media-body" data-cmfield-params='{{&params}}'>
    <h4 class="media-heading">{{&headline}}</h4>
    <div class="media-desc">{{&desc}}&nbsp;</div>
    <div class="btn-group">
      <a class="btn btn-small" target="_blank" href="{{preview}}"><i class="icofont-eye-open"></i>&nbsp;{{lang.SELECT_CONTENTS_PREVIEW_BTN}}</a>
      <button type="button" class="btn btn-danger btn-small" data-cmfield-func="item-remove" data-cmfield-confirm="{{lang.SELECT_CONTENTS_REMOVE_CONFIRM}}"><i class="icofont-trash"></i>&nbsp;{{lang.SELECT_CONTENTS_REMOVE_BTN}}</button>
    </div>
  </div>
</li>