<div id="{{id}}" class="select-contents">
  <div class="row-fluid" style="margin-bottom: 5px;">
    <button type="button" title="{{lang.SELECT_CONTENTS_TITLE}}" class="btn" data-cmfield-func="select-contents">
      <i class="icofont-plus"></i>&nbsp;{{lang.SELECT_CONTENTS_BTN}}
    </button>
    <span class="help-block helper-font-small">{{&lang.SELECT_CONTENTS_INTRO}}</span>
  </div>
  <ul class="row-fluid select-item-list" data-cmfield-func="item-list" style="margin: 15px 0px;">
  </ul>
</div>