	<footer class='footer '>
		<div class='container text-center'>
			<div class='column _col-xs-6 text-right '>
				<img src="website/tmpl/img/logoFooter.png" alt="logo" class=' img-responsive' style='position:relative;bottom:14px'>
			</div>
			<div class='column _col-xs-6 '>
				<div class=' text-left'>
					<p><a href="#nogo">逢甲大學</a> | <a href="#nogo">本校行政單位</a> | <a href="#nogo">本校教學單位</a></p>
					<p>版權所有 © 逢甲大學全球資訊系統內之所有內容及版面設計－著作權屬逢甲大學 | 隱私權聲明</p>
					<p>地址：台中市 40724 西屯區文華路 100 號 | 聯絡電話 04-24517250 轉 2601 | 傳真：04=24516453</p>
				</div>
			</div>
		</div>
	</footer>
	<aside class='buttonTop navSide'  id='my-affix'>
    	<ul class='_nav container text-right'>
    		<li>
		    	<a href="#top" style='display:inline ' class='dmtop'>
		    		<img src="website/tmpl/img/buttonTop.png" alt='backTop'>
		    	</a>
    		</li>
    		<!-- <li><a href='#breadcrumb'></a></li> -->
    	</ul>
    </aside>