<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    {{&m_meta}}
  </head>
  <body style="padding-top: 70px;">
    <div id="container_{{pageName}}" class="container">
      {{#global_alert}}{{> components_alert}}{{/global_alert}}
      <div class="main-header">{{&m_header}}</div>
      {{#breadcrumb}}
      <div class="main-breadcrumb">
        {{> components_breadcrumb}}
      </div>
      <div class="main-page">
        {{#m_hasLeft}}
        <div class="row">
          <div class="main-left-column col-lg-3 col-sm-12">{{&m_left}}</div>
          <div class="main-mein-column col-lg-9 col-sm-12">{{&m_main}}</div>
        </div>
        {{/m_hasLeft}}
        {{^m_hasLeft}}
          {{&m_main}}
        {{/m_hasLeft}}
      </div>
      {{/breadcrumb}}
      <div class="main-footer">{{&m_footer}}</div>
    </div>
    {{#javascript}}
    <script src="{{.}}"></script>
    {{/javascript}}
  </body>
</html>