	<footer class='footer '>
		<div class='container text-center'>
			<div class='column _col-xs-6 text-right '>
				<img src="website/tmpl/img/logoFooter.png" alt="logo" class=' img-responsive' style='position:relative;bottom:14px'>
			</div>
			<div class='column _col-xs-6 '>
				<div class=' text-left'>
					<p>版權所有 © 逢甲大學全球資訊系統內之所有內容及版面設計－著作權屬逢甲大學 | 隱私權聲明</p>
					<p>地址：台中市 40724 西屯區文華路 100 號 | 聯絡電話 04-24517250 轉 2601 | 傳真：04=24516453</p>
				</div>
			</div>
		</div>
	</footer>
	<div >
    	<div class='buttonTop navSide'>
	    	<div class='container text-right' style='	height: 0;'>
		    	<a href="#top" style='' class='dmtop' >
		    		<img src="website/tmpl/img/buttonTop.png" alt='backTop'>
		    	</a>
	    	</div>
    	</div>
    </div>