	
		<div class="container">
			<div class="navbar-header ">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo" class='img-responsive'></a> -->
			</div>
			<a class="navbar-brand" href="/index"><img src="website/tmpl/img/logo.png" alt="logo" class='img-responsive'></a>
			<div class='pull-right visible-lg form '>
				<div class='serach column _col-sm-6'>
					<form name="searchForm" action="/media/" method="get">
					<input type='search' name="keyword" placeholder='請輸入關鍵字搜尋影片' style='width:400px'>
					<button type="submit" class='formSearch'><span class='glyphicon glyphicon-zoom-in'></span></button>
					<br>
					</form>
					<a class='pull-right' href="/search/">進階搜尋</a>
				</div>
				<div id='loginDiv' name='loginDiv' class='user column _col-sm-6'>
					{{&loginForm}}
				</div>
			</div>
			<br>
		</div>
		<!-- end of container -->
		<div class="navbar-collapse collapse ">
			<ul class="nav navbar-nav text-center navItems noOnePage">
				<li {{#isMedia}} class="current"{{/isMedia}}><a href="/media/">隨選視訊</a></li>
				<li {{#isSound}} class="current"{{/isSound}}><a href="/sound/">語言學習</a></li>
				<li {{#isNews}} class="current"{{/isNews}}><a href="/news/">最新消息</a></li>
				{{#isPc}}
					{{#hasPhoto}}
				<li {{#isPhoto}} class="current"{{/isPhoto}} ><a href="/photo/">相片</a></li>
					{{/hasPhoto}}
				{{/isPc}}
				<li {{#isQuestion}} class="current"{{/isQuestion}}><a href="/question/">常見問題</a></li>
				<li {{#isLink}} class="current"{{/isLink}} ><a href="/link/">友站連結</a></li>
				<li {{#isContact}} class="current"{{/isContact}} ><a href='mailto:library@fcu.edu.tw?subject=逢甲大學隨選視訊系統問題與建議'>聯絡我們</a></li>
				<li {{#isMap}} class="current"{{/isMap}}><a href="/map/">網站導覽</a></li>
				<li class='hidden-lg'>
					<form name="searchForm" action="/media/" method="get">
					<input type='search' name="keyword" placeholder='請輸入關鍵字搜尋影片'>
					<button type="submit">搜尋</button>
					</form>
				</li>
				<li class='hidden-lg'><a class='' href="/search/">進階搜尋</a></li>
				<li class='hidden-lg'>{{&loginForm_m}}</li>
			</ul>
		</div>
		<!--/.nav-collapse -->
		{{#hasClass}}
		<div class='navItems visible-xs '>
			<div class='text-center toggle hidden' style=''>
				<select onChange="location.href=this.options[this.selectedIndex].value">
					{{#dataClass}}<option value='{{&link}}' {{#selected}}selected{{/selected}}>{{&headline}}</option>{{/dataClass}}
				</select>
			</div>
			<div class='sideToggle text-center' style='height:0'>
					<div class='text-center sideToggleButton' style='width:60px;'>▲</div>
					<!-- <img data-src="holder.js/40x20/auto" alt='sidetoggle'> -->
				</div>
		</div>
		{{/hasClass}}
