<base href="{{base_url}}" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{title}}</title>
<meta name="description" content="{{&description}}" />
<meta name="keywords" content="{{&title}}" />
{{#oginfo}}
<meta property="{{type}}" content="{{value}}" />
{{/oginfo}}
{{#css}}
<link rel="stylesheet" type="text/css" href="{{.}}" />
{{/css}}
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->