<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    {{&m_meta}}
  </head>
  <body class='{{#bodyClass}}{{&bodyClass}}{{/bodyClass}}{{^bodyClass}}bg2{{/bodyClass}}'>
	<span id='top' name='top'></span>
    <section id="navigation-container">
		<div id="nav" class="navbar">
		 {{&m_header}}
		</div><!-- end of nav -->
	</section><!-- end of navigation -->
	
      {{#global_alert}}{{> components_alert}}{{/global_alert}}
	  
      {{#breadcrumb}}
      <section class=' bgGray'>
		<div class='container'>
		{{^isIndex}}
        {{> components_breadcrumb}}
		{{/isIndex}}
		</div>
      </section>
	  
      <div class="main-page">
        {{#m_hasLeft}}
        <div class="row">
          <div class="main-left-column col-lg-3 col-sm-12">{{&m_left}}</div>
          <div class="main-mein-column col-lg-9 col-sm-12">{{&m_main}}</div>
        </div>
        {{/m_hasLeft}}
        {{^m_hasLeft}}
          {{&m_main}}
        {{/m_hasLeft}}
		
		{{#hasClass}}
		{{> box_category}}
		{{/hasClass}}
		
      </div>
      {{/breadcrumb}}
    
	
	{{&m_footer}}
	
	<script>

	function chk_form_login(form)
	{
		if(form.cUsr_uid.value==""||form.cUsr_password.value==""||form.cUsr_uid.value=="請輸入帳號"){
			
			alert("帳號或密碼不能為空白");	
		}else{
			xajax_front_login(xajax.getFormValues(form.id), true);
		}
		return false;
		
		
	}

	</script>
	
	{{#xajax_javascript}}
	{{&xajax_javascript}}
	{{/xajax_javascript}}
    {{#javascript}}
    <script src="{{.}}"></script>
    {{/javascript}}
	
  </body>
</html>