<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">購物車</h3>
  </div>
  <div class="panel-body">
    購物車內容
  </div>
</div>
<div role="navigation" class="sidebar-offcanvas">
  <div class="list-group">
    <a class="list-group-item active" href="#">連結1</a>
    <a class="list-group-item" href="#">連結2</a>
    <a class="list-group-item" href="#">連結3</a>
    <a class="list-group-item" href="#">連結4</a>
    <a class="list-group-item" href="#">連結5</a>
    <a class="list-group-item" href="#">連結6</a>
    <a class="list-group-item" href="#">連結7</a>
    <a class="list-group-item" href="#">連結8</a>
    <a class="list-group-item" href="#">連結9</a>
  </div>
</div>
<!--
<div id="multilevelpushmenu" role="navigation" class="sidebar-offcanvas">
  <div class="list-group">
    <nav>
      <h2><i class="fa fa-reorder"></i>All Categories</h2>
      <ul>
        <li>
          <a href="#" class="list-group-item"><i class="fa fa-laptop"></i>Devices</a>
          <h2><i class="fa fa-laptop"></i>Devices</h2>
          <ul>
            <li>
              <a href="#" class="list-group-item"><i class="fa fa-phone"></i>Mobile Phones</a>
              <h2><i class="fa fa-phone"></i>Mobile Phones</h2>
              <ul>
                <li>
                  <a href="#" class="list-group-item">Super Smart Phone</a>
                </li>
                <li>
                  <a href="#" class="list-group-item">Thin Magic Mobile</a>
                </li>
                <li>
                  <a href="#" class="list-group-item">Performance Crusher</a>
                </li>
                <li>
                  <a href="#" class="list-group-item">Futuristic Experience</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="list-group-item"><i class="fa fa-desktop"></i>Televisions</a>
              <h2><i class="fa fa-desktop"></i>Televisions</h2>
              <ul>
                <li>
                  <a href="#" class="list-group-item">Flat Super Screen</a>
                </li>
                <li>
                  <a href="#" class="list-group-item">Gigantic LED</a>
                </li>
                <li>
                  <a href="#" class="list-group-item">Power Eater</a>
                </li>
                <li>
                  <a href="#" class="list-group-item">3D Experience</a>
                </li>
                <li>
                  <a href="#" class="list-group-item">Classic Comfort</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="list-group-item"><i class="fa fa-camera-retro"></i>Cameras</a>
              <h2><i class="fa fa-camera-retro"></i>Cameras</h2>
              <ul>
                <li>
                  <a href="#" class="list-group-item">Smart Shot</a>
                </li>
                <li>
                  <a href="#" class="list-group-item">Power Shooter</a>
                </li>
                <li>
                  <a href="#" class="list-group-item">Easy Photo Maker</a>
                </li>
                <li>
                  <a href="#" class="list-group-item">Super Pixel</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="list-group-item"><i class="fa fa-book"></i>Magazines</a>
          <h2><i class="fa fa-book"></i>Magazines</h2>
          <ul>
            <li>
              <a href="#" class="list-group-item">National Geographics</a>
            </li>
            <li>
              <a href="#" class="list-group-item">The Spectator</a>
            </li>
            <li>
              <a href="#" class="list-group-item">Rambler</a>
            </li>
            <li>
              <a href="#" class="list-group-item">Physics World</a>
            </li>
            <li>
              <a href="#" class="list-group-item">The New Scientist</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="list-group-item"><i class="fa fa-shopping-cart"></i>Store</a>
          <h2><i class="fa fa-shopping-cart"></i>Store</h2>
          <ul>
            <li>
              <a href="#" class="list-group-item"><i class="fa fa-tags"></i>Clothes</a>
              <h2><i class="fa fa-tags"></i>Clothes</h2>
              <ul>
                <li>
                  <a href="#" class="list-group-item"><i class="fa fa-female"></i>Women's Clothing</a>
                  <h2><i class="fa fa-female"></i>Women's Clothing</h2>
                  <ul>
                    <li>
                      <a href="#" class="list-group-item">Tops</a>
                    </li>
                    <li>
                      <a href="#" class="list-group-item">Dresses</a>
                    </li>
                    <li>
                      <a href="#" class="list-group-item">Trousers</a>
                    </li>
                    <li>
                      <a href="#" class="list-group-item">Shoes</a>
                    </li>
                    <li>
                      <a href="#" class="list-group-item">Sale</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="list-group-item"><i class="fa fa-male"></i>Men's Clothing</a>
                  <h2><i class="fa fa-male"></i>Men's Clothing</h2>
                  <ul>
                    <li>
                      <a href="#" class="list-group-item">Shirts</a>
                    </li>
                    <li>
                      <a href="#" class="list-group-item">Trousers</a>
                    </li>
                    <li>
                      <a href="#" class="list-group-item">Shoes</a>
                    </li>
                    <li>
                      <a href="#" class="list-group-item">Sale</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="list-group-item">Jewelry</a>
            </li>
            <li>
              <a href="#" class="list-group-item">Music</a>
            </li>
            <li>
              <a href="#" class="list-group-item">Grocery</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="list-group-item">Collections</a>
        </li>
        <li>
          <a href="#" class="list-group-item">Credits</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
-->