<base href="{{base_url}}" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
<title>逢甲大學圖書館 隨選視訊系統</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
{{#css}}
<link rel="stylesheet" type="text/css" href="{{.}}" />
{{/css}}
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
   