<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    {{&m_meta}}
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        {{#m_header}}
          {{> components_navbar}}
        {{/m_header}}
      </div>
    </div>
    <div class="container">
      {{#global_alert}}{{> components_alert}}{{/global_alert}}
      {{&m_main}}
    </div>
    {{#javascript}}
    <script src="{{.}}"></script>
    {{/javascript}}
  </body>
</html>
