
<div class="row-fluid">
  <div class="container">
    <div class="span12">
      <ul class="breadcrumb">
      {{#breadcrumb}}
        {{^last}}
        <li>
          <a href="{{&link}}">{{&title}}</a>
          <span class="divider">/</span>
        </li>  
        {{/last}}
        {{#last}}
          <li class="active">{{title}}</li>
        {{/last}}
      {{/breadcrumb}}
      </ul>
    </div>
  </div>
</div>