<asdie class='sideCategory hidden-xs'>
	<div class='sideCategoryHead'></div>
	<div class='sideCategoryBody'>
		<ul class='sideCategoryContent'>
			{{#dataClass}}
				{{^hasChild}}
					<li><a href="{{&link}}">{{&headline}}</a> </li>
				{{/hasChild}}
				{{#hasChild}}
					<li><a href="{{&link}}" class='arrowBefore'>{{&headline}}</a>
					<ul class='sublist hidden_'>
				{{/hasChild}}
					{{#child}}
						<li><a href="{{&link}}">{{&headline}}</a> </li>
					{{/child}}
				{{#hasChild}}
					</ul>
					</li>
				{{/hasChild}}
			{{/dataClass}}
		</ul>
		<div class='sideToggle'>
			<img src="website/tmpl/img/slideToggle.png" alt='toggle'>
		</div>
	</div>
	<div class='sideCategoryFoot'></div>
	<div>
		<!-- <button class='sideCategoryToggle'>toggle</button> -->
	</div>
</asdie>
