<asdie class='sideCategory hidden-xs hidden'>
	<div class='sideCategoryHead'></div>
	<div class='sideCategoryBody'>
		<ul class='sideCategoryContent'>
			{{#dataClass}}
				<li><a href="{{&link}}">{{&headline}}</a> </li>
			{{/dataClass}}
		</ul>
		<div class='sideToggle'>
			<img src="website/tmpl/img/slideToggle.png" alt='toggle'>
		</div>
	</div>
	<div class='sideCategoryFoot'></div>
	<div>
		<!-- <button class='sideCategoryToggle'>toggle</button> -->
	</div>
</asdie>
