<div class='col-md-8 hidden-xs'>
	<div class='bgWhite contentHeaderCate' >
		<ul class='list-inline'>
			{{#dataClass}}
			<li><a href="{{&link}}">{{&headline}}</a> </li>
			{{/dataClass}}
		</ul>
	</div>						
</div>