<div id="cm-form-group-{{id}}" class="cm-form-group">
  {{#intro}}
  <div class="page-header">
    <h4>{{&intro}}</h4>
  </div>
  {{/intro}}
  {{#fields}}
    {{> components_formFieldsH}}
  {{/fields}}
</div>