<form id="form_login" onsubmit="return chk_form_login(this)" method="post" action="javascript:;" name="form_login">
	<div class='column'>
		<label>帳號 <input type='text' name='cUsr_uid' id='cUsr_uid' placeholder='請輸入帳號' style="font-size:14px;"></label>
			<br>
		<label>密碼 <input type='password' name='cUsr_password' id='cUsr_password' placeholder='請輸入密碼' style="font-size:14px;"></label>
	</div>
	<div class='column'>
		<button class='height100 border' type="submit" name="Submit">登入</button>
	</div>
</form>