<form id="form_login" onsubmit="return xajax_front_logout()" method="post" action="javascript:;" name="form_login">
	<div class='column' style='line-height:60px;'>
		{{&username}} 您好!&nbsp;
	</div>
	<div class='column'>
		<button class='height100 border' type="submit" name="Submit">登出</button>
	</div>
</form>