
	<div>
	<div style="width:320px;height:180px;background:#000 url('{{&thumb_url}}'); -moz-background-size:100% 100%;
-webkit-background-size:100% 100%;
-o-background-size:100% 100%;
background-size:100% 100%; " >
		<a href="{{&file_url}}" target="{{#target}}{{&target}}{{/target}}{{^target}}_self{{/target}}"> 
			<img width="320" height="180" border="0" src="/website/tmpl/img/player_cover.png">
		</a>
	</div>
	</div>

