<script type="text/javascript" src="/website/tmpl/flowplayer/flowplayer-3.2.12.min.js"></script>

	<div class='center-block' style='width:430px;height:242px;'>
		<a style=" width: 100%; height: 100%;background-image:url()" id="player"> 
		</a>
	</div>

		<script>
			fplayer = flowplayer('player', {
				    src:'/website/tmpl/flowplayer/flowplayer.commercial-3.2.16.swf',
				    wmode: 'opaque' 
			    },{
			      key:'#$aa6bc10e8f64995429a',
				  clip:  {
						scaling: 'fit',
						autoPlay: true,
						autoBuffering: true,
						provider: 'rtmp',
						onBeforeFinish: function (clip) {
						  return clip.index < this.getPlaylist().length - 1;
						},
						
				  },
				  playlist: [
							{{#videoData}}
								{url: '{{&url}}'},
							{{/videoData}}
					],
				  
				logo: { 
					fullscreenOnly: true,
					width: 20,  
					height: 20
				},
				  
				canvas: {
					backgroundColor: '#000000',
					backgroundGradient: 'none',
					borderRadius: 10
				},
				  
				plugins: {
				
					rtmp: {
						url: "/website/tmpl/flowplayer/flowplayer.rtmp-3.2.12.swf",
						netConnectionUrl: 'rtmp://{{vod_flash_server}}/vod/'
					},
					
					bwcheck: {
						url: "/website/tmpl/flowplayer/flowplayer.bwcheck-3.2.12.swf",
						serverType: 'wowza',
						checkOnStart: true,
						dynamic: false,
						netConnectionUrl: 'rtmp://{{vod_flash_server}}/vod',
						onStreamSwitchBegin: function (newItem, currentItem) {
						   $f().getPlugin('content').setHtml("(bwcheck)Will switch to: " + newItem.streamName +
							" from " + currentItem.streamName);
						},
						onStreamSwitch: function (newItem) {
						   $f().getPlugin('content').setHtml("(bwcheck)Switched to: " + newItem.streamName);
						}
					},
					
					
				}
				  
			});			
		</script>
	
	