<script type="text/javascript" src="/website/tmpl/js/jquery.js"></script>
<link rel="stylesheet" href="http://releases.flowplayer.org/5.4.6/skin/minimalist.css">
<script type="text/javascript" src="http://releases.flowplayer.org/5.4.6/commercial/flowplayer.min.js"></script>

<div class='center-block' style='width:320px;height:240px;'>
<div class="flowplayer" data-key="$178725059129393" style="width:100%;height:100%;background:#000" data-native_fullscreen="true">

	<video autoplay loop>
	<source type="application/x-mpegurl" src="{{&fileUrl}}">
	<source type="video/mp4" src="{{&fileUrl}}">
	</video>
	
	<a class="fp-prev"></a>
	<a class="fp-next"></a>

	<div class="fp-playlist" style="display:none">
		{{#videoData}}
			<a href="{{&url}}"></a>
		{{/videoData}}
	</div>
</div>
</div>