
		<a style=" width: 100%; height: 100%;" id="player"> 
		</a>
		
		<script>
			fplayer = flowplayer('player', {
				    src:'/website/tmpl/flowplayer/flowplayer.commercial-3.2.16.swf',
				    wmode: 'opaque' 
			    },{
			      key:'#$aa6bc10e8f64995429a',
				  clip:  {
						scaling: 'fit',
						autoPlay: true,
						autoBuffering: true,
						{{^has_menu}}
						urlResolvers: 'bwcheck',
						{{/has_menu}}
						{{#has_menu}}
						urlResolvers: ['bwcheck','brselect'],
						{{/has_menu}}
						provider: 'rtmp',
						bitrates: [
							{{#videoData}}
								{url: '{{&url}}',bitrate:{{&bitrate}},label:{{&label}},{{&default}} },
							{{/videoData}}
						],
				  },
				 
				  
				logo: { 
					fullscreenOnly: true,
					width: 20,  
					height: 20
				},
				  
				canvas: {
					backgroundColor: '#000000',
					backgroundGradient: 'none',
					borderRadius: 10
				},
				  
				plugins: {
				
					rtmp: {
						url: "/website/tmpl/flowplayer/flowplayer.rtmp-3.2.12.swf",
						netConnectionUrl: 'rtmp://{{vod_flash_server}}/vod/'
					},
					
					bwcheck: {
						url: "/website/tmpl/flowplayer/flowplayer.bwcheck-3.2.12.swf",
						serverType: 'wowza',
						checkOnStart: true,
						dynamic: false,
						switchOnFullscreen: false,
						netConnectionUrl: 'rtmp://{{vod_flash_server}}/vod',
						onStreamSwitchBegin: function (newItem, currentItem) {
						   $f().getPlugin('content').setHtml("(bwcheck)Will switch to: " + newItem.streamName +
							" from " + currentItem.streamName);
						},
						onStreamSwitch: function (newItem) {
						   $f().getPlugin('content').setHtml("(bwcheck)Switched to: " + newItem.streamName);
						}
					},
				
				{{#has_menu}}	
					
					brselect: {
					
						url: "/website/tmpl/flowplayer/flowplayer.bitrateselect-3.2.13.swf",
						menu: true
			 
					},
					
					menu: {
						url: "/website/tmpl/flowplayer/flowplayer.menu-3.2.12.swf",
						items: [
							{ label: "Quality", enabled: false,index:0},
							{ label: "Auto",  enabled: true, toggle:true, group: "bitrate"}
						],
						menuItem: {
							widhth: 50,
							height: 20,
							overColor: "#cccccc"
						},
						onSelect: function(item) {
							if(item.label=="Auto"){
								$f().getPlugin("bwcheck").enableDynamic(true);
							}else{
								$f().getPlugin("bwcheck").enableDynamic(false);
							}
						}
					},
				
				{{/has_menu}}
				
					/*content: {
						url: "/website/tmpl/flowplayer/flowplayer.content-3.2.8.swf"
					},*/
					 c1:  {
						url:"/website/tmpl/flowplayer/flowplayer.content-3.2.8.swf",
						html: "public.ccd",
						style: {
							border : {color:'#000000'},
							/*backgroundColor: '#000000',*/
							backgroundColor: 'transparent',
							backgroundGradient: 'none'
						},
						bottom:30,
						left:10,
						width: 100,
						height:30
					},
					
				}
				  
			});			
		</script>