<div id="column_recaptcha" class="form-group">
  <label class="col-sm-{{#LCSize}}{{LCSize}}{{/LCSize}}{{^LCSize}}2{{/LCSize}} control-label"><span class="required">*</span>{{&label}}</label>
  <div class="col-sm-{{#FCSize}}{{FCSize}}{{/FCSize}}{{^FCSize}}10{{/FCSize}}">
    {{&img}}
  </div>
</div>