<div id="{{sId}}" class="carousel slide{{#sClass}} {{sClass}}{{/sClass}}" data-ride="carousel">
  {{#hasNav}}
  <ol class="carousel-indicators">
    {{#navData}}
    <li data-target="#{{sId}}" data-slide-to="{{&navDataNo}}" class="{{&navDataClass}}"></li>
    {{/navData}}
  </ol>
  {{/hasNav}}
  <div class="carousel-inner">
  {{#itemData}}
    <div class="item {{#dataClass}} {{&dataClass}}{{/dataClass}}">
    {{#data}}
      {{&item}}
    {{/data}}
    </div>
  {{/itemData}}
  </div>
  {{#hasPrevNext}}
  <a class="left carousel-control" href="#{{sId}}" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#{{sId}}" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  {{/hasPrevNext}}
</div>