<table{{#attr}} {{&attr}}{{/attr}}>
  <thead>
    <tr>
    {{#header}}
      <th{{#attr}} {{&attr}}{{/attr}}>{{&text}}</th>
    {{/header}}
    <tr>
  </thead>
  <tbody>
  {{#list}}
    <tr>
      {{#.}}
      <td{{#attr}} {{&attr}}{{/attr}}>{{&text}}</td>
      {{/.}}
    </tr>
  {{/list}}
  </tbody>
</table>