<div class="row-fluid">
  <div class="{{#funcSize}}span{{funcSize}}{{/funcSize}}{{^funcSize}}span6{{/funcSize}}">
    <div class="btn-group">
{{#checkboxFunc}}
      <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icofont-check"></i>&nbsp;{{title}}(<span class="funcCount">0</span>)&nbsp;<span class="caret"></span></button>
      <ul class="dropdown-menu">
  {{#list}}
    {{#separate}}
        <li class="divider"></li>
    {{/separate}}
    {{^separate}}
        <li><a href="javascript:;" rel="{{link}}"{{#confirm}} confirm="{{confirm}}"{{/confirm}}>{{&text}}</a></li>
    {{/separate}}
  {{/list}}
      </ul>
{{/checkboxFunc}}
    </div>
    <div class="btn-group">
{{#listFunc}}
  {{&.}}
{{/listFunc}}
    </div>
  </div>
  <div class="{{#searchSize}}span{{searchSize}}{{/searchSize}}{{^searchSize}}span6{{/searchSize}} form-search">
    {{&search.formTop}}
      {{#search.hiddenColumn}}{{&.}}{{/search.hiddenColumn}}
      {{&search.formSearch}}
      {{&search.formButton}}
    {{&search.formBottom}}
  </div>
</div>