<div class="row-fluid">
  <div class="span4">
    <div class="dataTables_info">{{&pageInfo}}</div>
  </div>
  <div class="span8">
    <div class="dataTables_paginate pagination pagination-right">
      <ul>
        {{&prevPage}}
        {{&topPage}}
        {{#allPage}}{{&.}}{{/allPage}}
        {{&bottomPage}}
        {{&nextPage}}
      </ul>
    </div>
  </div>
</div>