<div class="span12 list-top-search">
    <div class="box corner-all">
      <div class="box-header bg-black color-white corner-top">
        <div class="header-control">
          <a data-box="collapse"><i class="icofont-caret-up"></i></a>
        </div>
        <span>{{title}}</span>
      </div>
      <div class="box-body">
        {{&formTop}}
          {{#fields}}
            <div class="row-fluid list-rows">
            {{#.}}
              <div {{#attr}} {{&attr}}{{/attr}}>
                <label>{{&label}}</label>&nbsp;{{&field}}
              </div>
            {{/.}}
            </div>
          {{/fields}}
        <div style="text-align: center;" class="form-actions">
          <button class="btn btn-primary" type="submit"><i class="icofont-search"></i>&nbsp;{{submitBtn}}</button>
        </div>
        {{&formBttom}}
      </div>
    </div>
  </div>