{{#separate}}
<li class="divider"></li>
{{/separate}}
{{^separate}}
<li>
  {{&link}}
  {{#has_sub}}
  <ul class="{{uClass}}">
  {{#sub}}
    {{> column_left_menu}}
  {{/sub}}
  </ul>
  {{/has_sub}}
</li>  
{{/separate}}