<li data-cmtree-item="node" data-cmtree-id="{{id}}" data-cmtree-name="{{name}}" data-cmtree-subcount="{{subCount}}">
  {{> tree_nodeInfo}}
  <div data-cmtree-item="node-sub" class="node-sub">{{#_childrens}}{{> tree_main}}{{/_childrens}}</div>
</li>