<div data-cmtree-item="node-info" class="node-info{{^status}} node-disable{{/status}}">
  <i data-cmtree-checked="false" data-cmtree-itme="check-icon" class="node-check-icon icofont-check-empty"></i>
  <span data-cmtree-func="collapse" data-cmtree-collapse="open" class="node-collapse"><i data-cmtree-itme="collapse-icon" class="icofont-folder-open"></i>&nbsp;{{&name}}</span>
  <!-- <span class="node-func btn-group">
    <button type="button" class="btn btn-mini" title="將節點移至上一層目錄">&nbsp;<i class="icofont-arrow-left"></i>&nbsp;</button>
    <button type="button" class="btn btn-mini" title="將節點移至前一個目錄下">&nbsp;<i class="icofont-arrow-right"></i>&nbsp;</button>
    <button type="button" data-cmtree-func="prev" class="btn btn-mini" title="節點排序往前排">&nbsp;<i class="icofont-arrow-up"></i>&nbsp;</button>
    <button type="button" data-cmtree-func="next" class="btn btn-mini" title="節點排序往後排">&nbsp;<i class="icofont-arrow-down"></i>&nbsp;</button>
  </span> -->
  <span class="node-func btn-group">
  {{#isRoot}}
    <button type="button" data-cmtree-func="add" class="btn btn-primary btn-mini"><i class="icofont-plus"></i>&nbsp;新增</button>
  {{/isRoot}}
  {{^isRoot}}
    <button type="button" data-cmtree-func="add" class="btn btn-primary btn-mini"><i class="icofont-plus"></i>&nbsp;新增</button>
    <button type="button" data-cmtree-func="edit" class="btn btn-mini"><i class="icofont-edit"></i>&nbsp;編輯</button>
    <button type="button" data-cmtree-func="remove" class="btn btn-danger btn-mini"><i class="icofont-remove"></i>&nbsp;移除</button>
  {{/isRoot}}
  </span>
</div>