{{#fieldHide}}
  {{&field}}
{{/fieldHide}}
{{^fieldHide}}
<div class="control-group form-inline">
  {{#label}}<label for="{{id}}" class="control-label">{{&label}}</label>{{/label}}
  <div class="controls">
    {{&field}}
    {{#tip}}<p class="help-block helper-font-small">{{&tip}}</p>{{/tip}}
  </div>
</div>
{{/fieldHide}}