<div id="formGroup_{{id}}" class="row-fluid">
  <div class="span12">
    <div class="box corner-all">
      <div class="box-header bg-black color-white corner-top">
        <div class="header-control">
          <a data-box="collapse"><i class="icofont-caret-up"></i></a>
        </div>
        <span>{{title}}</span>
      </div>
      <div class="box-body">
        {{&top}}
        <div class="form-horizontal">
        {{#fields}}
          {{> form_fields}}
        {{/fields}}
        </div>
        {{&bottom}}
      </div>
    </div>
  </div>
</div>