<div class="customers_orders">
  <div class="page-header" style="margin-top: 0px;"><h3>{{&headline}}</h3></div>
  {{#hasList}}
  <div class="orders-list">
    {{#list}}
      {{> components_table}}
    {{/list}}
  </div>
  <div class="orders-list-split text-center">
    {{#listSplit}}
      {{> components_pagination}}
    {{/listSplit}}  
  </div>
  {{/hasList}}
  {{^hasList}}
  <div class="list-empty">{{&listEmpty}}</div>
  {{/hasList}}
</div>