<div class="customers-login-box">
  <div class="page-header" style="margin-top: 0px;">
    <h3>{{headline}}</h3>
  </div>
  <p>{{&regUrl}}</p>
  {{#formAlert}}{{> components_alert}}{{/formAlert}}
  <div class="rows">
    <div class="col-sm-12 col-lg-7">
      {{&formTop}}
        {{#formFields}}
          {{> components_formFieldsH}}
        {{/formFields}}
        {{#regField}}
          {{> box_recaptchaFieldH}}
        {{/regField}}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
          {{&formButton}}
          </div>
        </div>
      {{&formButtom}}
    </div>
    <div class="col-sm-12 col-lg-5"></div>
  </div>
</div>