<div class="mainContent">{{> box_banner}}</div>
<div class="clearfloat"></div>
<div class="pagecenter">
  <div class="mem_register">
    {{#formAlert}}{{> form_alert}}{{/formAlert}}
    <div class="title">密碼變更</div>
    <div class="register-Box">
      {{&formTop}}
      <div class="box bottom-box">
        {{#formFields}}
        <div id="column_{{_ckey}}" class="input-prepend">
          <span class="txt-style">{{&label}}</span>
          {{&field}}
        </div>
        {{/formFields}}
        <div class="agreeBox">
          <span class="text textblack">為了確認您的身份，您必須輸入目前使用的密碼才能更新密碼</span>
        </div>
        <div class="btnBox">
          <input class="formReset CMButton" value="" type="reset" />
          <input class="formSubmit CMButton" value="" type="submit" />
        </div>
      </div>
      <div class="clearfloat"></div>
      {{&formBottom}}
    </div>
  </div>
</div>