<div class="customers-form-box">
  <div class="page-header" style="margin-top: 0px;">
    <h3>{{lang.header}}</h3>
  </div>
  {{#formAlert}}{{> components_alert}}{{/formAlert}}
  {{#formIntro}}<p>{{&formIntro}}</p>{{/formIntro}}
  <div class="rows">
    <div class="col-sm-12 col-lg-9">
      {{&formTop}}
        {{#form}}
          {{> box_formGroup}}
        {{/form}}
        {{#regField}}
          {{> box_recaptchaFieldH}}
        {{/regField}}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
          {{&formButton}}
          </div>
        </div>
      {{&formButtom}}
    </div>
    <div class="col-sm-12 col-lg-3"></div>
  </div>
</div>