<div class="customers-forget-box">
  <div class="page-header" style="margin-top: 0px;">
    <h3>{{lang.header}}</h3>
  </div>
  {{#formAlert}}{{> components_alert}}{{/formAlert}}
  {{&formTop}}
    <div id="column_email" class="form-group">
      <label class="control-label col-sm-2" for="column_regKey"><span class="required">*</span>&nbsp;{{&lang.pw_label}}</label>
      <div class="col-sm-10">
        {{&formFields}}
        <span class="help-block">{{&lang.pw_tip}}</span>
      </div>
    </div>
    {{#regField}}
      {{> box_recaptchaFieldH}}
    {{/regField}}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      {{&formButton}}
      </div>
    </div>
  {{&formButtom}}
</div>