<div id="{{id}}" class="modal fade{{#large}} bs-example-modal-lg{{/large}}{{#small}} bs-example-modal-sm{{/small}}" tabindex="-1" role="dialog" aria-hidden="true"{{#name}} aria-labelledby="{{name}}"{{/name}}{{#attr}} {{&attr}}{{/attr}}>
  <div class="modal-dialog{{#large}} modal-lg{{/large}}{{#small}} modal-sm{{/small}}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{headline}}</h4>
      </div>
      <div class="modal-body">{{&body}}</div>
      <div class="modal-footer">{{&footer}}</div>
    </div>
  </div>
</div>