
 .flowplayer { width: 550px; height: 20px; background-color: #000000; margin: 0px 0px 0px 0px;   }
 
    /* Keep the controls visible while loading */
    .flowplayer.is-loading .fp-controls,.flowplayer.is-loading .fp-time{display:block;}

    /* disable the waiting animation */
    .flowplayer.is-loading .fp-waiting{display:none;}

    /* disable the speed display we don't need this */
    .fp-speed{display:none;}

    /* Override fixed-controls to not sit below the player */
    .flowplayer.is-audio.fixed-controls .fp-controls{bottom:0px;}

    /* Override the time with fixed-controls to sit at the bottom */
    .flowplayer.is-audio.fixed-controls .fp-time em{bottom:5px;}

    /* position the controls */
    .flowplayer.is-audio.is-mouseover .fp-controls,.flowplayer.fixed-controls .fp-controls{height:20px;}

    /* disable the background play button */
    .flowplayer.is-audio.is-splash .fp-ui,.flowplayer.is-paused .fp-ui{background:none left no-repeat;background-size:12%;}

    /* display the controls even with splash enabled */
    .flowplayer.is-audio.is-splash .fp-controls, .flowplayer.is-splash .fp-time { display:block !important }
