br{
	clear:both;
}
input,textarea{
	border: 1px solid #eee;
	padding:0 4px;
}
button{
	border:1px solid #333;
	padding:6px 16px;
}
body{
	background:url(../img/BG_1.jpg) center center repeat-x fixed;
	position: relative;
	min-height: 1000px;
}
body.bg2{
	background-image:url(../img/BG_1.jpg) repeat-x;
}
body,h1,h2,h3,h4,h5,h6{
	font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}
ul{
	list-style: none;
	padding: 0;	
	margin: 0;
}
hr{
	margin: 4px;
	clear: both;
}
button.inline{
	/*border:1px solid #333;*/
	padding:2px 9px;
	line-height: 1em;
}
select{
	background: transparent;
   /*width: 268px;*/
   padding:4px 10px;
   /*font-size: 16px;*/
   line-height: 1em;
   border: 0;
   border-radius: 0;
   /*height: 34px;*/
   -webkit-appearance: none;
   border: 1px solid #333;
}
select:after{
	content:"▼";
}
label{
	font-weight: normal;
}
video{
	max-width: 100%;
	height: auto;
}
.hwrap{
	height: auto;
}
.innderShadow {
	background:#f7f7f7;
	-webkit-box-shadow: inset 10px 10px 46px -30px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 46px -30px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 46px -30px rgba(0,0,0,0.75);

}
.maxWidth890{
	max-width:890px;
}
.minHeight1000{
	min-height: 1000px;
}
.pageImageArticleTitle{
	margin: 0;
}
.navbar-nav > li > a{
	padding-top: 10px;
}
.pageTextContentHead{
	background: url(../img/bgTextHead.jpg) center top no-repeat;
	height: 30px;
}
.pageTextContentFoot{
	background: url(../img/bgTextFoot.jpg) center top no-repeat;
	height: 50px;
}
.pageTextContentBody{
	background: url(../img/bgTextBody.jpg) center top repeat-y;
}
.width180{
	width: 180px;
	display: inline-block;
	margin: 4px;
}
.widthFull{
	width: 100%;
}
.videoBorder{
	background:url(../img/videoBorder.png) no-repeat center top;
	padding: 20px;
	min-height: 405px;
}
.sideToggleButton{
	width:60px;
	display:inline-block;
	color: #fff;
	font-size: 11px;
	position: relative;
	bottom:4px;
}
.bgWhite{
	background: #fff;
}
.indexSectionHeader{
	padding:6px;
	/*border-bottom: 8px solid #444;*/
	border-top: 4px solid #ddd !important ;
	/*padding-top:120px;*/
	/*padding-bottom: 70px;*/
}
.indexAnchor{
	position: relative;
	top:-80px;
}
.indexSectionBody{
	background:url(../img/bgTitle.png) repeat-x #fff;
}
.indexSectionBody .viedos{
	background: transparent;
}
.bgContentBody{
	background:url(../img/bgIndexContentBody.jpg) ;		
}
.buttonTop{
	position: fixed;
	bottom:70px;
	display: block;
	width: 100%;
}
.tagsCloud .tag{
	border: 0;
}
.pageContact .border.inline{
	width:90px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
.hwrap{

	z-index: 0;
}
.slides{
	position: relative;
}
.videoOponSlider{
	position: absolute;
	text-align: center;
	top:100px;
	z-index: 4;
	width: 100%;
}
.videoListTitle{
	margin-top: 4px;
	margin-bottom: 0; 
	padding: 0;
}
.videoListContent{
	font-size: 12px;
}
.bgNone .imgItemDescription{
	background: transparent;
}
.breadcrumb{
	background: transparent;
	margin: 0;
}
.formSearch{
	background-color: #fff;
	color: #333;
	padding: 0 4px;
	border: 0;
}
.serach{
	font-size: 13px;
}
.border{
	border:1px solid #333;
	background-color: transparent;
}
.border.inline{
	padding: 0 4px;	
}
#nav.affix,.navbar{`
	background:transparent;	
}
.noOnePage{
	margin:10px;
}
.navItems{
	background-color: rgba(255,255,255,0.9);;
	border-top: 4px solid #333;
	border-bottom: 4px solid #333;
	margin: 0;
	padding: 0px;

	/*padding-bottom: 4px;*/
	/*padding-bottom: 4px;*/
}
.navItems .toggle{
	margin:10px;
}
.navItems >li>a{
	font-size: 17px;
}
.bgGray{
	background-color: rgba(255,255,255,0.5);
}
.navbar-collapse{
	padding: 0;
}
.navbar ,#nav.affix{
	background-image: url(../img/backGraH.jpg) ;
	background-repeat: repeat-x;

	/*background-color: #ddd;*/
}
.navbar .container>.column{
	vertical-align: bottom;
}
.breadcrumb > li + li:before{
	content: ">"
}
.column{
	display:inline-block;
	vertical-align: top;
}
.form{
	margin-top: 30px;
}
.user{
	margin-left: 60px;
}
.height100{
	height:46px;
	display: block;
}
.height100Percent{
	height: 100%;
}
.contentHeaderCate{
	height: 80px;

}
.contentHeaderCate li > a{
	font-size: 14px;
}
.contentHeaderCate .list-inline {
	line-height: 24px;
	padding: 4px;
	/*margin:0;*/
	/*padding: 0;*/

}
.widthFix{
	display: inline-block;
	width: 80px;
	text-align: center;
	padding: 0;
	line-height: 20px;
	font-size: 14px;
	/*height: 20px;*/
}

.form
,.breadcrumb
,.footer
,.imgItemDescription
{
	font-size: 11px;
}
.footer{

	padding:30px;
}
.footer .column{
	max-width: 100%;
}
.footer p{
	margin:0;
}
.footer .column{
	vertical-align: bottom;
}
.imgItem{
	width:220px;
	/*color: #333;*/
}
.imgItemImg{
	height:120px;
	overflow: hidden;
	background: url(../img/bgVideoItem.png);
}


.contentHeaderTitle{
	display: inline-block;
	padding: 10px 30px;
	margin: 0 0 4px  0;
	vertical-align: middle;
	font-size:40px;
}
.contentHeaderMenu{
	padding: 16px 0;
}
.imgItemCaption{
	padding:10px;
	height: 44px;
	overflow: hidden;
}
.imgItemCaption:hover{
	height:auto;
}
.imgItemDescription .row{
	margin: 0;
}


.viedos{
	background: url(../img/bgContentBody.png)  center top repeat-y;
	/*min-height: 1000px;*/
}
.viedosPaddingHead{
	background: url(../img/bgContentHead.png)  center top no-repeat transparent;	
	height: 42px;
}
.viedosPaddingFoot{
	background: url(../img/bgContentFoot.png)  center top no-repeat transparent;	
	height: 96px;

}
.contentHeader button{
	margin-left: 50px;

}
.contentHeader button:last-child{
margin-left: 20px;
}
.contentHeader{
	/*margin-bottom: 40px;*/
	background: url(../img/bgTitle.png) repeat-x;
	padding-top:30px;
	padding-bottom: 10px; 
}
.contentHeaderDot{
	width:20px;
	height: 20px;
	margin:0 10px;
	display: inline-block;
}
.bgPlayer{
	background: url(../img/bgPlayer.png) no-repeat center top;
	padding-top: 80px;
	padding-bottom: 80px;
}
.bgPlayerBody{
	background: url(../img/bgPlayerBody.png) repeat-y center top;
}
.navbar-nav > li > a{
	font-weight: normal;
}
.articleTitle {
	display: inline-block;
	margin-top: 12px;
	padding: 0;
}
.maxHeight130{
	max-height: 130px;
}
.maxHeight150{
	max-height: 150px;
}
.arrowBefore:before{
	content:"▶";
	position:relative;
	display: inline-block;
	width: 0;
	/*left:-20px;*/
	right:20px;
	/*top*/
	/*float:left;*/
}
.unfold:before{
	content:"▼";
}
.pageImagePlayer{
	max-width: 500px;
	margin: 0 auto;
}
.pageImageArticle{
	margin: 0 auto;
	/*margin-top: 60px;*/
	max-width: 900px;
}
.pageImageArticleBody{
	background: transparent;
	white-space: pre-wrap;
	border: 0;
	max-width: 700px;
	margin: 0 auto;
}
.pageFaqItem .viedos{
	background: transparent repeat-y center top;
	padding-top: 16px;
	/*min-height: 210px;*/
	overflow: hidden;
}
.pageFaqItem .container{
	max-width: 940px;
}
/*.pageFaqItem .viedos .row{*/
	margin: 0;
}
.pageFaqItem:nth-child(even) .viedosPaddingHead{
	background-image: url(../img/bgTextEven.png);
}
.pageFaqItem:nth-child(odd) .viedos{
	/*background-image: url(../img/bgTextOdd.png);*/
	background-image: url(../img/bgContentBody.png);
}
.pageFaqItem:nth-child(even) .viedos{
	/*background-image: url(../img/bgTextEven.png);*/
	background-image: url(../img/bgContentBody.png);
}
.pageFaqItem:last-child{
	margin-bottom: 100px;
}
.sideCategory{
	/*background-color: #ddd;*/
	/*height:80px;*/
	position:fixed;
	top:114px;
	bottom:120px;
	width:235px;

	/*overflow: scroll;*/
}
.sideCategory a{
	color:#333;
}
.sideCategoryHead{
	background: url(../img/bgSideHead.png) no-repeat center center;
	height: 42px;
}
.sideCategoryBody{
	background: url(../img/bgSideBody.png) repeat-y center center;
	list-style: none;;
	/*overflow: scroll;*/
	/*width: */
	height: 100%;
	padding-right: 40px;
	position: relative;

}
.sideCategoryContent{
	list-style: none;;
	overflow: auto;
	height: 100%;
	margin: 0;
}
.sideCategoryContent a{
	padding-left: 40px;
	display:block;
}
.sideCategoryContent li:hover .sublist{
	/*display:block;*/
}
.sideCategoryContent a:hover 
,.subList a:hover 
{
	color: #fff;
	/*background: #333;*/
}
.sublist{
	display: none;
}
.subList{
	border:1px solid #333;
	background: #fff;
	width:180px;
	/*position:fixed;*/
	color: #333;
	/*padding: */
	padding:0;
	position: fixed;
	display:none;
}
.subList ul{
	/*margin: 0;*/
}
.subList li{
	display: block;
	padding: 0 40px;
}
.sideCategoryFoot{
	background: url(../img/bgSideFoot.png) no-repeat center center;
	height: 56px;
}
.navbar-brand{
	margin-top: 20px;
	max-width: 70%;
}
.folders{
	background:url(../img/bgFolder.png) no-repeat center center; 
	height:245px;
	padding-top:30px;
}
.foldersHead{
	background:url(../img/bgFolderHead.png) no-repeat center center; 
	height: 26px;
}
.sideToggle{
	position: absolute;
	right:0px;
	top:100px;
	/*background:url(../img/slideToggle.png) no-repeat center center; */
}
.navItems .sideToggle{
	position: static;
}

.pageImage .contentHeaderMenuVideoLength
,.pageFaq .contentHeaderMenuVideoLength
,.pageNews .contentHeaderMenuVideoLength
,.pageNew .contentHeaderMenuVideoLength
,.pageNew .contentHeaderMenuDate
,.pageNew .contentHeaderMenuViews
,.text .contentHeaderMenu
{
	display: none;
}
.folders .row
,.viedos .row
,.contentHeader .row
,.contentWidth
{
	max-width: 960px;
	margin:0 auto;

}
.folders .row>div
,.viedos .row>div
{
	margin:0 auto 30px;

}
.pageSerachResultInfo{
	color: #333;
	margin:0 auto;
	display: none;
}
.pageSerachResult .pageSerachResultInfo{
	display: block;
}
.imgItemDescription{
	padding:10px;
	line-height: 13px;
	width: 220px;
	background: #ddd;
	margin:0 auto;
}
.imgItemDescription.video{

}
.imgItemDescription .row{
	margin:0;
}
.imgItemDescription.image
,.image .imgItemDescription.video
{
	display: none;
}
.image .imgItemDescription.image{
	display: block;
}
.videoListRow.row{
	background:  url(../img/bgList.png) right top ;
	margin: 4px auto;
}
.videoListRow .col-sm-3{
	padding: 0;
}
.w900{
	max-width: 900px;
	margin: 0 auto;
}
.w700{
	max-width: 700px;
	margin: 0 auto;
}
.w550{
	width:550px;
}
.pageSearchContent{
	font-size:20px;
	background: url(../img/bgSearch.png) repeat-y center top;
}
.pageSearchTitle2{
	color: #aaa;
	font-size: 	30px;
}
.affix-top{
	/*display: none;*/
}
.affix{
}
.audioSourceList{
	-webkit-box-shadow: inset 0px 0px 18px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 18px -3px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 18px -3px rgba(0,0,0,0.75);
	max-width: 700px;
	margin: 10px auto;
	padding: 4px 10px;

}
.affix-bottom{
	/*display: none;*/
	/*bottom: 1000px;
	height: 0;*/
}
@media (min-width: 960px) { 
	.nav.navbar-nav.text-center{
		/*padding:10px 0px;*/
		float:none;
	}
	.navbar-nav > li,.nav > li > a{
		float: none;
		display: inline;
		padding: 0;
	}
	.navbar-nav > li{
		/*margin:0 8px;*/
	}
	.navbar-nav > li:before{
		content:"|";
		margin:0 8px;
	}
	.navbar-nav > li:first-child:before{
		content: ""
	}
	.navbar-nav > .current a{
		border-bottom:2px solid #333;
		padding-bottom: 4px;
	}
	.navItems{
		border-bottom: 0;
		padding-bottom: 4px;
	}
	
}
@media (max-width: 1024px) { 
	.pageFaqItem:nth-child(2n+1) .viedos
	,.pageFaqItem:nth-child(2) .viedos
	,.innderShadow {
		background:#f5f5f5;
		-webkit-box-shadow: inset 10px 9px 28px -5px rgba(0,0,0,0.45);
		-moz-box-shadow: inset 10px 9px 28px -5px rgba(0,0,0,0.45);
		box-shadow: inset 10px 9px 28px -5px rgba(0,0,0,0.45);

	}
	.imgItem,.imgItemDescription{
		width: 100%;
	}
	.imgItemImg{
		background: #eee;
		height: auto;

	}
	.pageSearchContent{
		background: none;
	}
}


/*	################################################################
	4. COLOR SCHEMES
################################################################# */ 
.imgItemCaption
,.footer
,.footer a 
,.navbar-nav > li > a
,button
,.color a:hover
{
	color: #fff;
}


	.clients-wrap,
	.da-thumbs .portfolio-item a div,
	.tpl2 .bg {
		background-color:rgba(179, 41, 69, 0.8);	
	}
	.barcolor,
	.nav > li > a:hover,
	.nav > li.current a,
	.service-title h2 span,
	.footer-widget-title h1 span,
	.social a:hover,
	a
	,.border

	,	.navItems > li > a
	,.subList
	,.pageSearchContent
	,.color
	,.sideCategory .unfold
	,.pageImageArticleTitle
	 { 

		color:#7d0204;
	}
	
	::selection {
		background:#7d0204;
	}
	
	::-moz-selection {
		background:#7d0204;
	}
 
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus,
	.nav-tabs > li > a,
	.nav-tabs > li > a:hover,
	.navbar-toggle,
	.timeline .post-wrap:hover:after,
	div.custom-box div.custom-box-icon,
	#volume,
	#pricing-table #most-popular,
	.back-to-top,
	.btn-default,
	#preloader
	,.imgItemCaption
	,.footer
	,button
	,.contentHeaderDot
	,.sideCategoryContent a:hover
	,.subList a:hover
	,.tagsCloud .tag:hover
	,.sideToggleButton
	,.color a:hover
	 {
		background-color:#7d0204;
	}
	
	.nav-tabs > li > a, .form-group .form-control.error, .form-group .form-control.error:focus,
	.panel-default > .panel-heading,
	.portfolio-details,
	blockquote,
	blockquote.pull-right,
	.form-control:focus,
	.colon6 .form-control:focus,
	.footercolon .form-control:focus,
	.colon6 .form-control:focus,
	.footercolon .form-control:focus,
	.post-meta a:hover,
	#volume 
	,.navbar-nav > .current a
	,button
	,.border
	,.navItems
	,hr
	,.indexSectionHeader
	{
		border-color:#7d0204;
	}
	.form-control:focus {
		-webkit-box-shadow: 0 2px 0 #7d0204;
		box-shadow: 0 2px 0 #7d0204;
	}