.tagsCloud .tag{
display:inline-block;
margin:10px;
line-height:12px;
font-weight:bold;
}
.tagsCloud .tag-1{font-size: 12px;line-height:12px;color:#bbb;}
.tagsCloud .tag-2{font-size: 14px;line-height:14px;color:#999;}
.tagsCloud .tag-3{font-size: 18px;line-height:18px;color:#777;}
.tagsCloud .tag-4{font-size: 22px;line-height:22px;color:#555;}
.tagsCloud .tag-5{font-size: 26px;line-height:26px;color:#333;}
