<div class="auth-box" style="width: 500px;">
  <p>{{&formIntro}}</p>
  {{&formTop}}
    {{#formField}}
      {{> components_formFieldsH}}
    {{/formField}}
    {{#regField}}
      {{> box_recaptchaFieldH}}
    {{/regField}}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      {{&formButton}}
      </div>
    </div>
  {{&formBottom}}
</div>