<li data-id="{{id}}">
  <div class="thumbnail item-entry">
    {{#file}}
      <button class="btn btn-mini btn-danger remove-item-entry img-abs">x</button>
      <img src="{{&file}}" title="{{headline}}" />
    {{/file}}
    {{^file}}
      <button class="btn btn-mini btn-danger remove-item-entry">x</button>
      {{&headline}}  
    {{/file}}
  </div>
</li>