<div class="{{class}}">
  <h5>{{title}}</h5>
  <div data-accept-id="{{drop_accept_id}}" class="row-fluid drop-entry {{class}}-drop">
    <div class="drop-desc" style="display: none;">{{drop_text}}</div>
    <ul class="selected" data-column="{{column}}">
      {{#list}}
        {{> indexSetting_itemEntry}}
      {{/list}}
    </ul>
  </div>
</div>