{{#header}}{{> column_center_header}}{{/header}}
<div class="content-body drop-drag-main">
  {{#drop}}
  <div class="row-fluid drop-box">
    <div class="span12">
      <div class="box corner-all">
        <div class="box-header grd-white">
          <div class="header-control">
            <a data-box="collapse"><i class="icofont-caret-up"></i></a>
          </div>
          <span>{{title}}</span>
        </div>
        <div class="box-body">
        {{#list}}
          {{> indexSetting_itemList}}
        {{/list}}
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div style="text-align: center; padding-bottom: 20px;" class="span12">
      {{#form}}
        {{&top}}
        {{#hidden}}
        {{&.}}
        {{/hidden}}
      <button class="btn btn-primary" type="submit">存檔</button>
        {{&bottom}}
      {{/form}}
    </div>
  </div>
  {{/drop}}
  <div class="row-fluid drag-box">
    <ul class="nav nav-tabs">
    {{#drag}}
      <li><a data-toggle="tab" data-url="{{url}}" href="#{{id}}" class="{{class}}">{{&title}}</a></li>
    {{/drag}}
    </ul>
    <div class="tab-content">
    {{#drag}}
      <div id="{{id}}" class="tab-pane {{pane_class}}"></div>
    {{/drag}}
    </div>
  </div>
</div>