<div class="shopping_payment_ATM">
  <h3 class="short_headline"><span>ATM轉帳資訊</span></h3>
  <div class="row-fluid">
    <p>銀行代號: XXXXXXXX</p>
    <p>銀行帳號: XXXXXXXXXXXXXX</p>
    <p>銀行戶名: XXX</p>
  </div>
  <div class="form-actions center">
    <button type="button" class="btn btn-large btn-inverse"><i class="icon-print"></i>&nbsp;列印本頁</button>
    <a href="{{successUrl}}" class="btn btn-large btn-success"><i class="icon-ok"></i>&nbsp;完成訂購</a>
  </div>
</div>