<div class="row-fluid" style="margin-bottom: 5px;">
  <button type="button" title="{{lang.UPLOAD_FILE_UPLOAD_BTN_TITLE}}" class="btn btn-default" data-cmfield-func="site-file-upload">
    <i class="glyphicon glyphicon-upload"></i>&nbsp;{{lang.UPLOAD_FILE_UPLOAD_BTN}}
    <span data-cmfunc="process"></span>
  </button>
</div>
<ul class="row-fluid file-upload-list" data-cmfield-func="file-list" style="margin: 15px 0px;">
{{#files}}
  {{> javascript_upload_files}}
{{/files}}
</ul>
{{&upload_field}}