<div id="{{mId}}" class="modal fade{{#mClass}} {{mClass}}{{/mClass}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog{{#large}} modal-lg{{/large}}{{#small}} modal-sm{{/small}}">
    <div class="modal-content">
      {{&mTop}}
      <div class="modal-header">
        <button type="button" class="close">×</button>
        {{#mSHeader}}<h3>{{&mHeader}}&nbsp;<small>{{&mSHeader}}</small></h3>{{/mSHeader}}
        {{^mSHeader}}<h3>{{&mHeader}}</h3>{{/mSHeader}}
      </div>
      <div class="modal-body">
      {{#mBody}}{{&mBody}}{{/mBody}}
      </div>
      <div class="modal-footer">{{&mButton}}</div>
      {{&mBottom}}
    </div>
  </div>
</div>