<table width="700" cellspacing="0" cellpadding="0" border="1">
  <tr>
    <td>
      <table width="100%" cellspacing="0" cellpadding="0">
        {{#mail_header}}
        <tr>
          <td style="padding: 20px; background-color: #EEE; font-size: 19px; font-weight: bold;" align="center">《{{&mail_header}}》</td>
        </tr>
        {{/mail_header}}
        <tr>
          <td style="padding: 20px; font-size: 15px;">{{&mail_body}}</td>
        </tr>
        <tr>
          <td style="padding: 20px; font-size: 15px; background-color: #EEE;">{{&mail_footer}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>