<div class="row-fluid" style="margin-bottom: 5px;">
  <button type="button" title="{{lang.UPLOAD_FILE_UPLOAD_BTN_TITLE}}" class="btn" data-cmfield-func="file-upload">
    <i class="icofont-hdd"></i>&nbsp;{{lang.UPLOAD_FILE_UPLOAD_BTN}}
  </button>
  <!--
  <button type="button" title="{{lang.UPLOAD_FILE_SELECT_BTN_TITLE}}" class="btn" data-cmfield-func="file-select">
    <i class="icofont-reorder"></i>&nbsp;{{lang.UPLOAD_FILE_SELECT_BTN}}
  </button>
  <div class="btn-group">
    <button type="button" title="{{lang.UPLOAD_FILE_RESORT_BTN_TITLE}}" class="btn btn-small">
      <i class="icofont-undo"></i>&nbsp;{{lang.UPLOAD_FILE_RESORT_BTN}}
    </button>
    <button type="button" title="UPLOAD_FILE_REMOVE_ALL_BTN_TITLE" class="btn btn-small btn-danger">
      <i class="icofont-trash"></i>&nbsp;UPLOAD_FILE_REMOVE_ALL_BTN
    </button>
  </div>
  -->
</div>
<div class="row-fluid">
  <div class="bar-st bar-gradient green" data-cmfield-func="file-process" style="display: none;">
    <p>0%</p>
    <span style="width: 0%;"></span>
  </div>
</div>
<ul class="row-fluid file-upload-list" data-cmfield-func="file-list" style="margin: 15px 0px;">
{{#files}}
  {{> upload_files}}
{{/files}}
</ul>
{{&upload_field}}