{{#files}}
<ul class="thumbnails">
  {{#.}}
  <li class="span3"><a data-id="{{id}}" data-url="{{url}}" data-name="{{name}}" data-type="{{type}}" class="thumbnail" href="javascript:;"><img src="{{thumbnail_url}}" width="80" height="60" alt="{{name}}" title="{{name}}" /></a></li>
  {{/.}}
</ul>
{{/files}}