<div class="content-header">
  <button type="button" class="close">×</button>
  <h2><i class="icofont-picture"></i>{{headline}} <small>{{headline_s}}</small></h2>
</div>
<div class="content-body select-files-content">
  <div class="row-fluid select-files-list"></div>
  <div class="row-fluid select-files-search">
    <form name="searchForm" method="post" action="{{search_action}}">
      <div class="controls controls-row">
        <input name="keyword" class="span6" type="text" placeholder="{{search_placeholder}}" />
        <select name="catalog" class="span3">
        {{#catalog}}<option value="{{id}}">{{text}}</option>{{/catalog}}
        </select>
        <button type="submit" class="span3 btn">{{search}}</button>
      </div>
    </form>
  </div>
</div>
<div class="row-fluid select-files-upload" style="background: #FFF; padding: 10px 20px;">
  <form name="singleUploadForm" action="{{upload_action}}" enctype="multipart/form-data" method="post" class="form-inline">
    {{#upload_params}}
    <input type="hidden" name="{{key}}" value="{{value}}" />
    {{/upload_params}}
    <h2 style="font-size: 1.2em;">&nbsp;{{upload_files}}&nbsp;<input type="file" name="files" multiple />&nbsp;<span class="upload-progress"></span></h2>
  </form>
</div>