<div class=' '>
	<div class='container'>
		{{#data}}
		<div>
			<a href="{{&newsListLink}}"><button>返回最新消息列表</button></a>
		</div>
		<article class='innderShadow minHeight1000'>
			<br>
			<div class='maxWidth890 center-block'>
				<time class='pull-right'>{{&start_date}}</time>
				<h1><a href="">{{&headline}}</a></h1>
			</div>
			<hr class='hrShadow'>
			<div class='maxWidth890 center-block'>
				<p>
					{{&desc}}
				</p>
				{{#isPc}}
					{{#file}}
						<a href='/download/?file_url={{&file}}'>。下載相關檔案</a>
					{{/file}}
				{{/isPc}}
			</div>
		</article>
		{{/data}}
	</div>
	
	
</div>
{{#hasClass}}
{{> box_category}}
{{/hasClass}}