<div class='text'>
	<section class='contentHeader '>
		<div class='container'>
			<div class='row'>
				<div class='contentHeaderDot'></div>
					<h1 class='column border contentHeaderTitle'>最新消息</h1>
				<div class='pull-right'>
					<div class='contentHeaderMenu' >
						<button class='contentHeaderMenuDate'>發布日期 △ </button>
						<button class='border contentHeaderMenuViews'>觀看次數</button>
						<button class='border contentHeaderMenuVideoLength'>影片長度</button>
						<button class='border_ '><span class='glyphicon glyphicon-th-large'></span></button>
						<button class='border'><span class='glyphicon glyphicon-th-list'></span></button>
					</div>
				</div>
				<br>
				<div class='pageSerachResultInfo'>
				 	查詢條件dfsfsafsdfasfasfdasdfasfd，共4252525符合結果。
				</div>
			</div>
		</div>
	</section>	
</div>
<div class='pageLinks'>
	{{#dataList}}
	<section class='pageFaqItem'>
		<!-- <div class='viedosPaddingHead'></div> -->
		<div class='viedos  clearfix'>
			<div class='container'>
				<div class='row'>
					<time class='pull-right'>{{&start_date}}</time>
						<h2 class='articleTitle'>{{&headline}}</h2>
						<hr>
						<p class='articleText'>{{&desc}}</p>
						{{#isPc}}
							{{#file}}
								<a href='/download/?file_url={{&file}}'>。下載相關檔案</a>
							{{/file}}
						{{/isPc}}
				</div>
			</div>
		</div>
		<!-- <div class='viedosPaddingFoot'></div> -->
	</section>
	{{/dataList}}
	{{^dataList}}
	<section class='pageFaqItem'>
		<!-- <div class='viedosPaddingHead'></div> -->
		<div class='viedos  clearfix'>
			<div class='container'>
				尚無資料
			</div>
		</div>
		<!-- <div class='viedosPaddingFoot'></div> -->
	</section>
	{{/dataList}}
</div>
{{#hasClass}}
{{> box_category}}
{{/hasClass}}