<!--
<div class="row-fluid" style="margin-bottom: 5px;">
  <button type="button" title="{{lang.UPLOAD_FILE_UPLOAD_BTN_TITLE}}" class="btn" data-cmfield-func="file-upload">
    <i class="icofont-hdd"></i>&nbsp;{{lang.UPLOAD_FILE_UPLOAD_BTN}}
  </button>
</div>
-->
<div class="row-fluid">
  <div class="bar-st bar-gradient green" data-cmfield-func="file-process" style="display: none;">
    <p>0%</p>
    <span style="width: 0%;"></span>
  </div>
</div>
<ul class="row-fluid file-upload-list" data-cmfield-func="file-list" style="margin: 15px 0px;">
{{#files}}
  {{> simpleUpload_files}}
{{/files}}
</ul>
{{&upload_field}}