<li data-cmfield-data-file="{{file}}"  data-cmfield-func="file-item" class="media">
  <a class="pull-left thumbnail" target="_blank" href="{{preview}}">{{&thumbnail}}</a>
  <div class="media-body" data-cmfield-params='{{&params}}'>
    <h4 class="media-heading">{{&headline}}</h4>
    <div class="media-desc">{{&desc}}&nbsp;</div>
    <div class="btn-group">
      <a class="btn btn-small" target="_blank" href="{{preview}}"><i class="icofont-eye-open"></i>&nbsp;{{lang.UPLOAD_FILE_PREVIEW_BTN}}</a>
      <!--<button type="button" class="btn btn-danger btn-small" data-cmfield-func="file-remove"><i class="icofont-trash"></i>&nbsp;{{lang.UPLOAD_FILE_REMOVE_BTN}}</button>-->
    </div>
  </div>
</li>