{{#data}}
	{{#startRows}}<div class='row'>{{/startRows}}
		<div class='col-sm-6 col-lg-3'>					
			<a href='/sound/detail/?recordId={{&id}}{{#catalog}}&catalog={{&catalog}}{{/catalog}}' class='imgItem center-block'>
				<div class='imgItemImg'>
					{{#file_img}}
					<img src="/upload/{{&file_img}}" alt="{{&headline}}" />
					{{/file_img}}
					{{^file_img}}
					<img src="/upload/{{&file}}" alt="{{&headline}}" />
					{{/file_img}}
				</div>
				<figcaption class='imgItemCaption'>
				{{&headline}}
				</figcaption>
			</a>					
			<div class='imgItemDescription video'>
				<div class=''>
					<div class='column'>
						<div>
							上架日期：<time>{{&start_date}}</time>
						</div>
					</div>
					<!-- <br> -->
				</div>
			</div>				
		</div>
	{{#endRows}}</div>{{/endRows}}
{{/data}}