{{#data}}
	<div class='row videoListRow'>
		<a href='/sound/detail/?recordId={{&id}}{{#get_params.catalog}}&catalog={{&get_params.catalog}}{{/get_params.catalog}}' class='col-sm-3'>
			{{#file_img}}
			<img src="/upload/{{&file_img}}" alt="{{&headline}}" class='maxHeight130' border="0">
			{{/file_img}}
			{{^file_img}}
			<img src="/upload/{{&file}}" alt="{{&headline}}" class='maxHeight130' border="0">
			{{/file_img}}
		</a>
		<div class='col-sm-9 '>
			<h2 class='videoListTitle'>{{&headline}}</h2>
			<div class='videoListContent'>
				
				<div>上架日期： <time>{{&start_date}}</time> </div>
				
			</div>
		</div>
	</div>			
{{/data}}