<html>
<head>
<!--
<script type="text/javascript" src="/website/tmpl/flowplayer/flowplayer-3.2.12.min.js"></script>
<script type="text/javascript" src="/website/tmpl/flowplayer/flowplayer.embed-3.2.10.js"></script>
-->
{{#xajax_javascript}}
	{{&xajax_javascript}}
{{/xajax_javascript}}
<script type="text/javascript">
function fix_args(obj, col, val)
{
	obj.href = fix_location(obj.href, col, val);
	return true;
}
function fix_location(href, col, val)
{
	var regex=eval('/'+col+'=[^&]*/g');
	if (href.match(regex)) {
		href = href.replace(regex,col+"="+val);
	} else {
		var c = "&";
		var q = href.indexOf("?");
		if (q==-1)
			c = "?";
		href = href + c + col+"="+val;
	}
	return href;
}

function rowsPerPageChange(obj)
{
	window.location.replace(fix_location(window.location.href, "rowsPerPage", obj.options[obj.selectedIndex].value));
	obj.form.submit();
}
</script>
<link href="http://61.63.6.155/css/style_s.css" rel="stylesheet" type="text/css" />
</head>
<body topmargin="0" leftmargin="0">
{{#breadcrumb}}
  <div class="main-breadcrumb">
	{{> components_breadcrumb}}
  </div>
  <div class="main-page">
	{{#m_hasLeft}}
	<div class="row">
	  <div class="main-left-column col-lg-3 col-sm-12">{{&m_left}}</div>
	  <div class="main-mein-column col-lg-9 col-sm-12">{{&m_main}}</div>
	</div>
	{{/m_hasLeft}}
	{{^m_hasLeft}}
	  {{&m_main}}
	{{/m_hasLeft}}
  </div>
{{/breadcrumb}}
{{&tree_menu}}

<div style="width:780px;">
    <!--路徑 -->
    <div class="route">
		<table width="500" border="0" cellspacing="2" cellpadding="0">
			<tr>
				<td colspan="2"><a class="accesskey" accesskey="C" href="#center-content" title="中央內容區塊" alt="中央內容區塊" id="center-content"><font color="#CCCCCC">:::</font></a></td>
			</tr>
			
			<tr>
				<td width="28"><img src="http://61.63.6.155/images/icon_route.png" width="28" height="28" alt="*" /></td>
				<td width="466"><a href="index.php" alt="首頁">首頁</a> > <span class="pink"><a alt="語言文學" href="searchCatVideo.php?iMcat_seq=79&c1=79">語言文學</a> > <a alt="西文" href="searchCatVideo.php?iMcat_seq=81&c1=79&c2=81">西文</a></span></td>
			</tr>
		</table>
	</div>
	<!--分類標題 -->
	<div class="channel_title">
		<table width="770" border="0" cellspacing="2" cellpadding="0">
			<tr>
				<td width="67"><img src="http://61.63.6.155/images/icon_video.jpg" width="67" height="19" alt="*" /></td>
				<td width="609" class="channel_title_text"></td>
				<td width="86"><a href="javascript:self.print()"><img src="http://61.63.6.155/images/icon_print.jpg" width="86" height="24" alt="友善列印" /></a></td>
			</tr>
		</table>
	</div>
	<div style="clear:both;">&nbsp;</div>
	{{> box_searchForm}}
</div>
</body>
</html>