<link href="http://releases.flowplayer.org/5.4.6/skin/minimalist.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/website/tmpl/js/jquery.js"></script>
<script type="text/javascript" src="http://releases.flowplayer.org/5.4.6/commercial/flowplayer.min.js"></script>
<style type="text/css"> 
 .flowplayer { width: 550px; height: 20px; background-color: #000000; margin: 0px 0px 0px 0px;   }
 
    /* Keep the controls visible while loading */
    .flowplayer.is-loading .fp-controls,.flowplayer.is-loading .fp-time{display:block;}

    /* disable the waiting animation */
    .flowplayer.is-loading .fp-waiting{display:none;}

    /* disable the speed display we don't need this */
    .fp-speed{display:none;}

    /* Override fixed-controls to not sit below the player */
    .flowplayer.is-audio.fixed-controls .fp-controls{bottom:0px;}

    /* Override the time with fixed-controls to sit at the bottom */
    .flowplayer.is-audio.fixed-controls .fp-time em{bottom:5px;}

    /* position the controls */
    .flowplayer.is-audio.is-mouseover .fp-controls,.flowplayer.fixed-controls .fp-controls{height:20px;}

    /* disable the background play button */
    .flowplayer.is-audio.is-splash .fp-ui,.flowplayer.is-paused .fp-ui{background:none left no-repeat;background-size:12%;}

    /* display the controls even with splash enabled */
    .flowplayer.is-audio.is-splash .fp-controls, .flowplayer.is-splash .fp-time { display:block !important }
</style>
<script>
var preno={{preno}};
/*var base = "http://stream.flowplayer.org/";*/
/*var base = "http://vod.lib.fcu.edu.tw:8080/vod/_definst_/";*/
var base = "http://61.63.6.139:8080/vod/_definst_/";


function tooglePlayer(){
		flowplayer().toggle();
	 }
	 
	function goStop(){
		flowplayer().toggle();
	 }
	 
	 /*監聽器*/
	 flowplayer(function(api, root) {
      
      api.bind("pause", function() {
		if(flowplayer().paused==false){
			document.getElementById('btn'+preno).innerHTML='播放中';
			document.getElementById('btn'+preno).className='border inline widthFix';
		}else{
			document.getElementById('btn'+preno).innerHTML='播放';
			document.getElementById('btn'+preno).className='inline widthFix';
		}
		
      }).bind("progress", function() {
		document.getElementById('btn'+preno).innerHTML='播放中';
		document.getElementById('btn'+preno).className='border inline widthFix';
		
      });

	});
	 
	 {{#isPc}}
	 function goPlay(fn,no){
		/*flowplayer().load(base+fn+".mp4");*/
		var api=flowplayer(0);
		if(preno!=no){
			api.load([
			  { mp4: base+fn },
			  { flash: "mp4:" + fn }
			]);
			/*復原*/
			document.getElementById('btn'+preno).innerHTML='播放';
			document.getElementById('btn'+preno).className='inline widthFix';
			/*切換按鈕*/
			document.getElementById('btn'+no).innerHTML='播放中';
			document.getElementById('btn'+no).className='border inline widthFix';
			preno=no;
		}else{
			flowplayer().toggle();
			/*alert(flowplayer().playing);
			alert(flowplayer().paused);*/
			/*單個復原*/
			if(flowplayer().paused==false){
				document.getElementById('btn'+no).innerHTML='播放';
				document.getElementById('btn'+no).className='inline widthFix';
			}else{
				document.getElementById('btn'+no).innerHTML='播放中';
				document.getElementById('btn'+no).className='border inline widthFix';
			}
		}
	 }
	 {{/isPc}}
	 {{^isPc}}
	 function goPlay(fn,no){
		/*flowplayer().load(base+fn+".mp4");*/
		var api=flowplayer(0);
		if(preno!=no){
			api.load([
			  { mp4: base+fn },
			  { webm: base + fn + ".webm" }
			]);
			/*復原*/
			document.getElementById('btn'+preno).innerHTML='播放';
			document.getElementById('btn'+preno).className='inline widthFix';
			/*切換按鈕*/
			document.getElementById('btn'+no).innerHTML='播放中';
			document.getElementById('btn'+no).className='border inline widthFix';
			preno=no;
		}else{
			flowplayer().toggle();
			/*單個復原*/
			if(flowplayer().paused==false){
				document.getElementById('btn'+no).innerHTML='播放';
				document.getElementById('btn'+no).className='inline widthFix';
			}else{
				document.getElementById('btn'+no).innerHTML='播放中';
				document.getElementById('btn'+no).className='border inline widthFix';
			}
		}
	 }
	 {{/isPc}}
</script>


<div class='bgPlayer'>
	<div class='container'>
		<!--<div class='pageImagePlayer container'>-->
		<div class='pageImagePlayer'>
		
			<div class='row'>
				<div class='col-sm-12'>
					{{#chkStatus}}
					<div style='clear:both;width:100%;height:20px;'>
						<!--<div class="flowplayer fixed-controls play-button is-splash is-audio playlist-nav" data-key="$393254813010440" data-rtmp="rtmp://vod.lib.fcu.edu.tw/vod/" data-embed="false" style="width:100%;height:100%;background:#000">-->
						<div class="flowplayer fixed-controls play-button is-splash is-audio playlist-nav" data-key="$393254813010440" data-rtmp="rtmp://61.63.6.139/vod/" data-embed="false" style="width:100%;height:100%;background:#000;z-index:0">

							<video autoplay>
							<!--<source type="video/flash" src="mp4:201412/141881756663314_1.mp4" />-->
							{{#isPc}}
							<source type="video/flash" src="mp4:{{preurl}}" />
							{{/isPc}}
							{{^isPc}}
							<source type="video/mp4" src="http://61.63.6.139:8080/vod/_definst_/{{preurl}}?iMda_seq={{&id}}-Mdaf_seq=-iUsr_seq=-iUgp_seq=-iDom_seq={{domain_id}}" />
							{{/isPc}}
							</video>
							
							
							
						</div>
					</div>
					{{/chkStatus}}
					{{^chkStatus}}
						<img border="0" src="/website/tmpl/img/nv1_1.jpg" width="100%" height="100%">
					{{/chkStatus}}
				</div>
			</div>
			
			<hr>
			<!--
			<div class='row'>
				<div class='col-sm-12'>
					<span class='border inline widthFix'>出版者</span>
					<span class=''>&nbsp;{{&issuer}}</span>
				</div>
			</div>
			-->
			<div class='row'>
				<div class='col-sm-6 hidden'>
					<span class='border inline widthFix'>觀看次數</span>
					<span class=''>&nbsp;{{&clickcount}}</span>
				</div>
				<div class='col-sm-6'>
					<span class='border inline widthFix'>上架日期</span>
					<time class=''>&nbsp;{{&album.start_date}}</time>
				</div>
				<div class='col-sm-2 text-right hidden'>
					<button class='inline'>下載</button>
				</div>
			</div>
			
			
		</div>
	</div>
</div>

<div class='bgPlayerBody'>
	<article class='pageImageArticle'>
		<h1 class='pageImageArticleTitle text-center'>{{&album.headline}}</h1>
		<hr>
		<pre class='pageImageArticleBody'>
			<p>{{&album.desc}}</p>
		</pre>
		<br>
		<div class='center-block' style='max-width:700px;font-size:small'>
			{{#album.headline_sub_4}}<div>相關題名：{{&album.headline_sub_4}}</div>{{/album.headline_sub_4}}
			{{#album.headline_sub_3}}<div>系列名：{{&album.headline_sub_3}}</div>{{/album.headline_sub_3}}
			{{#album.headline_sub_1}}<div>製作單位：{{&album.headline_sub_1}}</div>{{/album.headline_sub_1}}
			{{#album.headline_sub_2}}<div>關鍵字：{{&album.headline_sub_2}}</div>{{/album.headline_sub_2}}
			{{#album.issuer}}<div>發行者：{{&album.issuer}}</div>{{/album.issuer}}
			{{#album.release_date}}<div>發行╱出版日期：{{&album.release_date}}</div>{{/album.release_date}}
			{{#album.attr_2}}<div>語言：{{&album.attr_2}}</div>{{/album.attr_2}}
			{{#album.login_status}}<div>授權使用範圍：{{&album.login_status}}</div>{{/album.login_status}}
			{{#album.attr_3}}<div>聲音資訊來源：{{&album.attr_3}}</div>{{/album.attr_3}}
		</div>
		<br>
		<br>
		<hr>
		<ul>
			{{#chkStatus}}
			{{#data}}
			<li class='audioSourceList row'>
				<div class='col-md-1'>
					<img src="/website/tmpl/img/2015_playsound.png">
				</div>
				<div class='col-md-9'>
					{{&headline}}
				</div>
				<div class='col-md-2'>
					<button id='btn{{id}}' class='inline widthFix' onclick="goPlay('{{file}}?iMda_seq={{&id}}-Mdaf_seq=-iUsr_seq=-iUgp_seq=-iDom_seq={{domain_id}}',{{id}})">播放</button>
				</div>
				<hr>
			</li>
			{{/data}}
			{{^data}}
				<li class='audioSourceList row'>
					<div class='col-md-1'>
						<img src="/website/tmpl/img/2015_playsound.png">
					</div>
					<div class='col-md-9'>
						專輯內尚無資料
					</div>
				</li>
			{{/data}}
			{{/chkStatus}}
		</ul>
	</article>
</div>

