<li data-cmtree-item="node" data-cmtree-id="{{id}}" data-cmtree-name="{{name}}">
  {{> catalogSound_treeNodeInfo}}
  <div data-cmtree-item="node-sub" class="node-sub">{{#_childrens}}{{> catalogSound_treeMain}}{{/_childrens}}</div>
</li>