{{#header}}{{> column_center_header}}{{/header}}
<div class="content-body">
{{&formTop}}
  {{#hiddenColumn}}{{&.}}{{/hiddenColumn}}
  {{#hasLang}}
  <div class="row-fluid">
    <ul class="nav nav-tabs">
      {{#formLang}}
      <li{{#current}} class="active"{{/current}}>{{&link}}</li>
      {{/formLang}}
    </ul>
  </div>
  {{/hasLang}}
  <div class="row-fluid">
    <div class="span12" style="text-align: center; padding-bottom: 20px;">
      {{&formButton}}
    </div>
  </div>
  {{#formGroup}}
    {{> form_groups}}
  {{/formGroup}}
  <div class="row-fluid">
    <div class="form-actions" style="text-align: center;">{{&formButton}}</div>
  </div>
{{&formBottom}}
</div>