<div class="content-header">
  <!--<ul class="content-header-action pull-right">
    <li>
      <a href="#">
        <div class="badge-circle grd-green color-white"><i class="icofont-user"></i></div>
        <div class="action-text color-green">8765 <span class="helper-font-small color-silver-dark">Users</span></div>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="#">
        <div class="badge-circle grd-teal color-white"><i class="typicn-group"></i></div>
        <div class="action-text color-teal">1437 <span class="helper-font-small color-silver-dark">Groups</span></div>
      </a>
    </li>
    <li class="divider"></li>
  </ul>-->
  <h2><i class="{{icon}}"></i>{{&title}} <small>{{&intro}}</small></h2>
</div>
<div class="content-breadcrumb">
  <ul class="breadcrumb-nav pull-right">
    {{#func}}
    <li class="divider"></li>
    <li class="btn-group">
      <a data-toggle="dropdown" class="btn btn-small btn-link dropdown-toggle" href="javascript">{{&text}}{{#has_sub}}&nbsp;<i class="icofont-caret-down"></i>{{/has_sub}}</a>
      {{#has_sub}}
      <ul class="dropdown-menu">
        {{#sub}}<li>{{&link}}</li>{{/sub}}
      </ul>
      {{/has_sub}}
    </li>
    {{/func}}
    <li class="divider"></li>
    <li class="btn-group">
      <a href="javascript:;" class="btn btn-small btn-link add-to-shortcut">
        <i class="icofont-tasks"></i> 加入到捷徑
      </a>
    </li>
  </ul>
  <ul class="breadcrumb">
{{#breadcrumb}}
  {{^last}}
  <li>
    {{&link}}
    <span class="divider">&rsaquo;</span>
  </li>  
  {{/last}}
  {{#last}}
    <li class="active">{{&title}}</li>
  {{/last}}
{{/breadcrumb}}
  </ul>
</div><!-- /content-breadcrumb -->