{{#header}}{{> column_center_header}}{{/header}}
<div class="content-body">
  {{#topSearch}}
  <div class="row-fluid top-search">{{&topSearch}}</div>
  {{/topSearch}}
  {{#list.hasCatalog}}
  <div class="row-fluid">
    <ul class="nav nav-tabs">
      {{#list.listCatalog}}
      <li{{#current}} class="active"{{/current}}>{{&link}}</li>
      {{/list.listCatalog}}
    </ul>
  </div>
  {{/list.hasCatalog}}
  <div class="row-fluid">
    <div id="{{list.id}}" class="boxList span12">
      {{#list.listAction}}
      <div class="page-header">
        {{> list_action}}
      </div>
      {{/list.listAction}}
      {{#list.listSplit}}{{> list_pageSplit}}{{/list.listSplit}}
      <form name="listForm" method="post" class="requestForm">{{#list.list}}{{> list_table}}{{/list.list}}</form>
      {{#list.listSplit}}{{> list_pageSplit}}{{/list.listSplit}}
    </div>
  </div>
</div>