{{#header}}{{> column_center_header}}{{/header}}
<div class="content-body">
  {{#list}}
  {{#listCatalog}}{{> list_catalog}}{{/listCatalog}}
  <div class="row-fluid">
    <div id="{{id}}" class="boxList span12">
      <div class="box corner-all">
        <div class="box-header grd-white corner-top">
          <div class="header-control">
            <a data-box="collapse"><i class="icofont-caret-up"></i></a>
          </div>
          <ul class="nav nav-pills" style="margin-bottom: 0px;">
          {{#boxCatalog}}
            <li{{#current}} class="active"{{/current}}>{{&link}}</li>
          {{/boxCatalog}}
          </ul>
        </div>
        <div class="box-body">
          <div class="page-header">
            {{#listAction}}{{> list_action}}{{/listAction}}
          </div>
          {{#listSplit}}{{> list_pageSplit}}{{/listSplit}}
          <form name="listForm" method="post" class="requestForm">{{#list}}{{> list_table}}{{/list}}</form>
          {{#listSplit}}{{> list_pageSplit}}{{/listSplit}}
        </div>
      </div>
    </div>
  </div>
  {{/list}}
</div>