{{#header}}{{> column_center_header}}{{/header}}
<div class="content-body">
{{&form.top}}
  {{#list}}
  <div class="row-fluid">
    {{#.}}
    <div class="span6 permission-entry">
      <div class="page-header form-inline permission-all"><label class="checkbox">{{&fields}}&nbsp;{{&name}}&nbsp;-&nbsp;{{&desc}}</label></div>
      <table class="table table-hover table-bordered responsive permission-sub">
        <thead>
          <tr>
            <th width="5%">&nbsp;</th>
            <th width="30%">{{lang.permission_column_func}}</th>
            <th width="60%">{{lang.permission_column_desc}}</th>
          </tr>
        </thead>
        <tbody>
          {{#permission}}
          <tr>
            <td>{{&fields}}</td>
            <td>{{&name}}</td>
            <td>{{&desc}}</td>
          </tr>
          {{/permission}}
        </tbody>
      </table>
    </div>
    {{/.}}
  </div>
  <br />
  {{/list}}
  <div class="row-fluid">
    <div style="text-align: center;" class="form-actions">
      <button class="btn btn-primary" type="submit">更新權限</button>
      <button class="btn prevBtn" type="reset">取消</button>&nbsp;
    </div>
  </div>
  {{#form.params}}
    {{&.}}
  {{/form.params}}
{{&form.bottom}}
</div>