{{#header}}{{> column_center_header}}{{/header}}
{{#tree}}
<div id="{{id}}" data-cmmod="cm-tree" class="content-body cm-tree"{{#attr}} {{&attr}}{{/attr}}>
  <div class="row-fluid">
    {{#checkFunc}}
    <div class="btn-group">
      <button data-toggle="dropdown" class="btn dropdown-toggle"><i class="icofont-check"></i>&nbsp;{{&title}}(<span data-cmtree-item="tree-checked-num">0</span>)&nbsp;<span class="caret"></span></button>
      <ul class="dropdown-menu">
        {{#list}}
        <li><a href="javascript:;" data-cmtree-func="{{id}}">{{&text}}</a></li>
        {{/list}}
      </ul>
    </div>
    {{/checkFunc}}
    {{#func}}
    <div class="btn-group">
      {{#.}}
      <button class="btn{{#class}} {{&class}}{{/class}}" data-cmtree-func="{{id}}">{{&text}}</button>
      {{/.}}
    </div>
    {{/func}}
    {{#search}}
    <div class="form-search pull-right">
      <div data-cmtree-item="search" class="form-inline cm-form">
        {{&formSearch}}
        {{&formButton}}
      </div>
    </div>
    {{/search}}
  </div>
  <div data-cmtree-item="main" class="cm-tree-main row-fluid">
    {{#main}}
      {{> tree_main}}
    {{/main}}
  </div>
</div>
{{/tree}}