/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

/* Mobile */
@media only screen and (max-width: 767px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; /*overflow: hidden; overflow-x: scroll; */border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	/*div.table-wrapper div.scrollable table { margin-left: 35%; }*/
	/*div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }*/	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	
	/*我改的*/
	table.responsive thead th:nth-last-child(2),table.responsive thead th:first-child,table.responsive thead th:nth-child(n+4),
	table.responsive tbody td:nth-last-child(2),table.responsive tbody td:nth-child(n+4)
	{ display:none;}
	table.responsive thead th:last-child,table.responsive tbody td:last-child{
		display:block;
		}
	.pinned .table-hover thead th:first-child,.pinned .table-hover tbody td:first-child{ display:none;}
	div.table-wrapper,.pinned{
		border:0px;
		}
	
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


