@charset "utf-8";
/* CSS Document */

@media (min-width: 850px) {
  body .modal-large {
    width: 850px;
    margin-left: -425px;
  }
}

@media (max-width: 850px) {
  body .modal-large {
    width: auto;
  }
}

#mainBody .content > .content-body {
  padding: 20px 10px;
}

#mainBody .page-header {
  margin: 10px 0px 15px;
}

#mainBody .form {
  margin: 0px 0px 10px;
}

#loginForm {
  display: none;
}
#confirm_box, #unlock_confirm {
  z-index: 1060;
}
.drag-box .page-header {
  margin: 10px 0 15px;
}
.drag-box form {
  margin: 0px;
}
.drag-box .nav {
  margin-bottom: 0px;
}
.drag-box .tab-content {
  margin-bottom: 15px;
}
.drop-box {
  overflow: auto;  
}
.selected-product {
  list-style-type: none;
}
.selected-product li {
  float: left;
  width: 170px;
  height: 60px;
}
.select-product ul.selected {
  list-style-type: none;
  position: relative;
}
.select-product ul.selected li {
  float: left;
  width: 92px;
  height: 74px;
}
.select-product-drop .item-entry {
  position: relative;
  margin: 2.5px;
  width: 72px;
  height: 54px;
  overflow: hidden;
}
.select-product h5 {
  margin: 2.5px 0;
}
.select-product .img-abs {
  position: absolute;
  right: 2px;
  top: 2px;
}
.select-product-drop {
  min-height: 75px;
  position: relative;
}
.select-product-drop .drop-desc {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  font-size: 200%;
  font-weight: bold;
  color: #FF8247 ;
}
.select-drop-highlight {
  background-color: #DDD;
}
a.request.sort-current {
  color: #008299;
}
.boxList .form-search form {
  float: right;
}
.cm-select-files {
  background: #333;
  border: 1px solid #CDCDCD;
  position: fixed;
  right: 0;
  top: 40px;
  width: 400px;
  z-index: 900;
  
}
.cm-select-files.content {
  min-height: auto;
}
.cm-select-files .close {
  line-height: 20px;
  position: relative;
  right: -10px;
  top: 9px;
}
.cm-select-files form {
  margin: 0px;
}
.cm-select-files .select-files-search {
  margin: 10px 0px;
}
.cm-select-files .select-files-content {
  padding: 10px;
  background: #333;
}
.cm-select-files .select-files-list {
  height: 300px;
  overflow-y: auto;
}
.file-upload-modal .file-list, .file-select .file-list {
  margin-top: 15px;
}
.list-top-search .list-rows {
  margin-bottom: 15px;
}
.list-top-search .list-rows label {
  cursor: default;
}
div.datepicker {
  z-index: 1051;
}

.file-upload-list {
  max-height: 2500px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.cm-tree .cm-tree-main {
  margin-top: 15px;
  height: 630px;
  overflow: scroll;
}

.cm-tree .node-disable {
  color: red;
}

.cm-tree .node-noedit {
  background-color: #DDD;
  color: #666;
}

.cm-tree .node-searched {
  background-color: green;
  color: #FFF;
}

.cm-tree ul.node-tree {
  list-style: none;
  font-size: 15px;
}

.cm-tree .node-func {
  display: none;
  margin-left: 35px;
}

.cm-tree .node-info-hover .node-func {
  display: inline;
}

.cm-tree .node-check-icon, .cm-tree .node-collapse {
  cursor: pointer;
}

.cm-tree .node-info {
  padding: 5px 5px;
  border-bottom: 1px solid #CCC;
}

.cm-tree .node-sort-highlight {
  border: 1px dotted #000;
  background: #EEE;
}

.cm-tree .node-sub-empty {
  display: none;
}