<head>

<link rel="stylesheet" type="text/css" href="/webmgr/tmpl/css/font-awesome.css">

</head>
<div class="mainContent">{{> box_banner}}</div>
<div class="clearfloat"></div>
<div class="pagecenter">
	<div>
    {{#dataClass}}<li><a href="{{&link}}">{{&headline}}</a></li>{{/dataClass}}
	</div>
    <div>    
        {{#dataList}}
        <div class="two">
          <ul>
            <li class="styleC"><a href="{{&link}}">{{&headline}}</a></li>
			<li class="styleC">{{&img}}</li>
          </ul>
        </div>
        {{/dataList}}
      </div>

      <div class="clearfloat"></div>
      {{#dataSplit}}
        {{> box_pageSplit}}
      {{/dataSplit}}
    </div>
    
   
{{> box_searchForm}}
</div>
 
</div>