<div class="mainContent">{{> box_banner}}</div>
<div class="clearfloat"></div>
<div class="pagecenter">
	<div>
	<b>Detail</b>
    {{#dataClass}}<li><a href="{{&link}}">{{&headline}}</a></li>{{/dataClass}}
	</div>
    <div>    
        {{#data}}
        <div class="two">
			<p>日期:{{&create_date}}</p>
			<b>{{&headline}}</b>
			<p>{{&desc}}</p>
        </div>
		<div><a href="{{&questionListLink}}">back</a></div>
        {{/data}}
      </div>
</div>