{{#data}}
	{{#startRows}}<div class='row'>{{/startRows}}
		<div class='col-sm-6 col-lg-3'>					
			<a href='/media/detail/?recordId={{&id}}' class='imgItem center-block'>
				<div class='imgItemImg'>
					{{#file_img}}
					<img src="/upload/{{&file_img}}" alt="{{&headline}}" />
					{{/file_img}}
					{{^file_img}}
					<img src="/upload/{{&file}}" alt="{{&headline}}" />
					{{/file_img}}
				</div>
				<figcaption class='imgItemCaption'>
				{{&headline}}
				</figcaption>
			</a>					
			<div class='imgItemDescription image'>
				<button class='pull-right'>下　　載</button>
				<div>
					<div>
						日期：<time>2014-08-14</time>
					</div>
					<div>
						觀看次數：<span>23132434</span>
					</div>
					<!-- <br> -->
				</div>
			</div>
			<div class='imgItemDescription video'>
				<!-- <button class='pull-right'>下　　載</button> -->
				<div class=''>
					<div class='column'>
						<div>
							作者：<span>{{&author}}</span>
						</div>
						{{#isVideo}}
						<div>
							片長：<span>{{&video_length}}</span>
						</div>
						{{/isVideo}}
						<div>
							上架日期：<time>{{&start_date}}</time>
						</div>
					</div>
					<div class=''>
						<div>
							觀看次數：<span>{{clickcount}}</span>
						</div>
					</div>
					<!-- <br> -->
				</div>
			</div>				
		</div>
	{{#endRows}}</div>{{/endRows}}
{{/data}}