<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<div class='text'>
	<section class='contentHeader '>
		<div class='container'>
			<div class='row'>
					<div class='contentHeaderDot'></div>
					<h1 class='column border contentHeaderTitle'>進階搜尋</h1>
				<div class='pull-right'>
					<div class='contentHeaderMenu' >
					 						 		<button class='contentHeaderMenuDate'>發布日期 △ </button>
						 	<button class='border contentHeaderMenuViews'>觀看次數</button>
						 	<button class='border contentHeaderMenuVideoLength'>影片長度</button>
																			<button class='border_ '><span class='glyphicon glyphicon-th-large'></span></button>
						 	<button class='border'><span class='glyphicon glyphicon-th-list'></span></button>
											 </div>
				</div>
				 <br>
				 <div class='pageSerachResultInfo'>
				 		查詢條件dfsfsafsdfasfasfdasdfasfd，共4252525符合結果。

				 </div>
			</div>
		</div>
	</section>	
</div>
<div class='pageSearchContent'>
	<div class='container w900 '>
		<form name="form_search_detail" action="../media/" method="get">
		<h2 class='text-center pageSearchTitle2'>請選擇欲查詢的欄位並輸入關鍵字</h2>
		<select name="kc">
			<option value="a">影片名稱、簡介</option>
			<option value="n">影片名稱</option>
			<option value="k">影片簡介</option>
		</select>
		<input name="keyword" type='text' placeholder='請輸入關鍵字搜尋影片' style='width:400px'>
		<hr>
		<h2 class='text-center pageSearchTitle2'>請指定下列條件</h2>
		<div class='row'>
			<div class='col-sm-6'>
				從&nbsp;
				<input id="start_date" type="text" name="start_date"  placeholder='選擇日期' style="width:110px;border: 1px solid #000000;"/>  
				至&nbsp;
				<input id="end_date" type="text" name="end_date"  placeholder='選擇日期' style="width:110px;border: 1px solid #000000;"/>  
				期間
			</div>
			<div class='col-sm-6'>
				<label><input type='radio' name='_date' value="AND" checked>AND&nbsp;</label>
				<label><input type='radio' name='_date' value="OR">OR&nbsp;</label>
				<label><input type='radio' name='_date' value="NOT">NOT&nbsp;</label>		
			</div>

		</div>
		<div class='row'>
			<div class='col-sm-6'>
				<select name="catalog">
						<option value="">影片類別</option>
					{{#videoCatalog}}
						<option value="{{&id}}">{{&headline}}</option>
						{{#child}}
						<option value="{{&id}}">&nbsp;&nbsp;{{&headline}}</option>
						{{/child}}
					{{/videoCatalog}}
				</select>
			</div>
			<div class='col-sm-6'>
				<label><input type='radio' name='_cate' value="AND" checked>AND&nbsp;</label>
				<label><input type='radio' name='_cate' value="OR">OR&nbsp;</label>
				<label><input type='radio' name='_cate' value="NOT">NOT&nbsp;</label>		
			</div>
		</div>

		<div class='row'>
			<div class='col-sm-6'>
				<label>　　作者姓名　　<input type='text' name='author'></label>
			</div>
			<div class='col-sm-6'>
				<label><input type='radio' name='_author' value="AND" checked>AND&nbsp;</label>
				<label><input type='radio' name='_author' value="OR">OR&nbsp;</label>
				<label><input type='radio' name='_author' value="NOT">NOT&nbsp;</label>	
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-6'>
				<select name="od">
					<option value="">指定欄位排序</option>
					<option value="start_date">上架日期</option>
					<option value="headline">影片名稱</option>
					<option value="">觀看次數</option>
				</select>
				<span class='pull-right'>排序方式</span>
				
			</div>
			<div class='col-sm-6'>
				<label><input type='radio' name='sort' value="ASC"> 遞增</label>
				<label><input type='radio' name='sort' value="DESC" checked> 遞減</label>
			</div>
		</div>

		<hr>
		<center>
			<button>查　　詢</button>
			<button class='border' type="reset" onclick="document.form_search_detail.reset();">重新輸入</button>
		</center>
		<br>
		</form>
	</div>	
</div>
<!--{{> box_searchForm}}-->
