<section class='contentHeader '>
	<div class='container'>
		<div class='row'>
			<div class='contentHeaderDot'></div>
			<h1 class='column border contentHeaderTitle'>查詢結果</h1>
			<div class='pull-right'>
				<div class='contentHeaderMenu  hidden-xs' >
						{{#order_list}}
						{{&order_list}}
						{{/order_list}}
						{{#layout}}
						<button type='button' class='border{{#isLayoutMode2}}_{{/isLayoutMode2}}' onclick="javascript:xajax_layoutSetuping(2)"><span class='glyphicon glyphicon-th-large'></span></button>
						<button type='button' class='border{{#isLayoutMode1}}_{{/isLayoutMode1}}' onclick="javascript:xajax_layoutSetuping(1)"><span class='glyphicon glyphicon-th-list'></span></button>
						{{/layout}}
				</div>
			</div>
			<br>
			<div class='pageSerachResultInfo'>
			查詢條件{{#search_detail}}{{&search_detail}}{{/search_detail}}，共{{&total}}筆符合結果。
			</div>
		</div>
	</div>
</section>

<div class='viedosPaddingHead'></div>
	<section class='viedos  clearfix'>
		<div class='container '>
		<!-- 內容 -->
		{{#file_list}}
		{{&file_list}}
		{{/file_list}}
		{{^file_list}}
		<div class='row'>
			查無資料。
		</div>
		{{/file_list}}
		</div>
	</section>
<div class='viedosPaddingFoot'></div>


<script type="text/javascript">
function fix_args(obj, col, val)
{
	obj.href = location.pathname + location.search;
	obj.href = fix_location(obj.href, col, val);
	return true;
}
function fix_location(href, col, val)
{
	var regex=eval('/'+col+'=[^&]*/g');
	if (href.match(regex)) {
		href = href.replace(regex,col+"="+val);
	} else {
		var c = "&";
		var q = href.indexOf("?");
		if (q==-1)
			c = "?";
		href = href + c + col+"="+val;
	}
	return href;
}

function rowsPerPageChange(obj)
{
	window.location.replace(fix_location(window.location.href, "rowsPerPage", obj.options[obj.selectedIndex].value));
	obj.form.submit();
}
</script>