<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<div class='text'>
	<section class='contentHeader '>
		<div class='container'>
			<div class='row'>
					<div class='contentHeaderDot'></div>
					<h1 class='column border contentHeaderTitle'>進階搜尋</h1>
				<div class='pull-right'>
					<div class='contentHeaderMenu' >
					 						 		<button class='contentHeaderMenuDate'>發布日期 △ </button>
						 	<button class='border contentHeaderMenuViews'>觀看次數</button>
						 	<button class='border contentHeaderMenuVideoLength'>影片長度</button>
																			<button class='border_ '><span class='glyphicon glyphicon-th-large'></span></button>
						 	<button class='border'><span class='glyphicon glyphicon-th-list'></span></button>
											 </div>
				</div>
				 <br>
				 <div class='pageSerachResultInfo'>
				 		查詢條件dfsfsafsdfasfasfdasdfasfd，共4252525符合結果。

				 </div>
			</div>
		</div>
	</section>	
</div>
<div class='pageSearchContent'>
	<div class='container w900 '>
		<form name="form_search_detail" action="/search/" method="get">
		<h2 class='text-center pageSearchTitle2'>請選擇欲查詢的欄位並輸入關鍵字</h2>
		{{#formAlert}}{{> components_alert}}{{/formAlert}}
		<div class='text-center'>
			<div style="display:none;">
				<span>　　請選擇類型　　</span>
				<span>
					<label><input type='radio' name='type' value='1' checked> 影片　　　</label>
					<label><input type='radio' name='type' value='3'> 相片　　　</label>
					<label><input type='radio' name='type' value='2'> 聲音　　　</label>
				</span>
			</div>
			<select name="kc">
				<option value="nb">影片名稱、說明</option>
				<option value="as">作者</option>
				<!--<option value="ser">叢書名/系列名</option>
				<option value="sub">標題/主題</option>-->
				<option value="ot">其他參與者</option>
			</select>
			<input type='text' name="keyword" placeholder='請輸入關鍵字搜尋影片' style='width:400px'>
		</div>
		<hr>
		<h2 class='text-center pageSearchTitle2'>請指定下列配合條件</h2>
		<div class='row'>			
			<div class='col-sm-4 text-right'>
				出版者／主辦單位
			</div>
			<div class='col-sm-4'>
				<input class='widthFull' type='text' name='publisher' placeholder='請輸入出版者'>
			</div>
			<div class='col-sm-4'>
				<label><input type='radio' name='pubtype' value='AND' checked>AND</label>&nbsp;
				<label><input type='radio' name='pubtype' value='OR'>OR</label>&nbsp;
				<label><input type='radio' name='pubtype' value='NOT'>NOT</label>&nbsp;	
			</div>
		</div>
		<div class='row'>			
			<div class='col-sm-4 text-right'>
				語言
			</div>
			<div class='col-sm-4'>
				<!--<input class='widthFull' type='text' name='language' placeholder='請輸入語言'>-->
				<select name="language"  class='widthFull'>
					<option value="">請選擇語言</option>
					<option value="1">國語</option>
					<option value="2">英語</option>
					<option value="3">其他</option>
				</select>
			</div>
			<div class='col-sm-4'>
				<label><input type='radio' name='langtype' value='AND' checked>AND</label>&nbsp;
				<label><input type='radio' name='langtype' value='OR'>OR</label>&nbsp;
				<label><input type='radio' name='langtype' value='NOT'>NOT</label>&nbsp;	
			</div>
		</div>
		<div class='row'>			
			<div class='col-sm-4 text-right'>
				上架日期
			</div>
			<div class='col-sm-4'>
				<input id="date_start" type="text" name="date_start"  placeholder='選擇日期' style="width:110px;border: 1px solid #000000;"/>  
				～
				&nbsp;<input id="date_end" type="text" name="date_end"  placeholder='選擇日期' style="width:110px;border: 1px solid #000000;"/>  
			</div>
			<div class='col-sm-4'>
				<label><input type='radio' name='datetype' value='AND' checked>AND</label>&nbsp;
				<label><input type='radio' name='datetype' value='OR'>OR</label>&nbsp;
				<label><input type='radio' name='datetype' value='NOT'>NOT</label>&nbsp;	
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-4 text-right'>索書號</div>
			<div class='col-sm-4'>
				<input class='widthFull' type='text' name="attr_1" placeholder='請輸入索書號'>
			</div>
			<div class='col-sm-4'>
				<label><input type='radio' name='attr_1_type' value='AND' checked>AND</label>&nbsp;
				<label><input type='radio' name='attr_1_type' value='OR'>OR</label>&nbsp;
				<label><input type='radio' name='attr_1_type' value='NOT'>NOT</label>&nbsp;	
			</div>
		</div>
		<div class='row'>			
			<div class='col-sm-4 text-right'>
				排序方式
			</div>
			<div class='col-sm-4'>
				<select name="od"  class='widthFull'>
					<option value="">指定欄位排序</option>
					<option value="start_date">上架日期</option>
					<option value="headline">影片名稱</option>
					<option value="clickcount">觀看次數</option>
				</select>
			</div>
			<div class='col-sm-4'>
				<label><input type='radio' name='sort' value="ASC">遞增</label>&nbsp;
				<label><input type='radio' name='sort' value="DESC" checked>遞減</label>&nbsp;
			</div>
		</div>
		<input type='hidden' name='hasSearch' value=1>
		<hr>
		<center>
			<button>查　　詢</button>
			<button class='border' type="reset" onclick="document.form_search_detail.reset();">重新輸入</button>
		</center>
		<br>
		</form>
	</div>	
</div>
<!--{{> box_searchForm}}-->
