<div class='text'>
	<section class='contentHeader '>
		<div class='container'>
			<div class='row'>
				<div class='contentHeaderDot'></div>
					<h1 class='column border contentHeaderTitle'>聯絡我們</h1>
					<div class='pull-right'>
						<div class='contentHeaderMenu' >
							<button class='contentHeaderMenuDate'>發布日期 △ </button>
							<button class='border contentHeaderMenuViews'>觀看次數</button>
							<button class='border contentHeaderMenuVideoLength'>影片長度</button>
							<button class='border_ '><span class='glyphicon glyphicon-th-large'></span></button>
							<button class='border'><span class='glyphicon glyphicon-th-list'></span></button>
						</div>
					</div>
					<br>
					<div class='pageSerachResultInfo'>
						查詢條件dfsfsafsdfasfasfdasdfasfd，共4252525符合結果。

				</div>
			</div>
		</div>
	</section>	
</div>
<div class='pageSearchContent'>
	<div class='container w900'>
	<h2 class='text-center pageSearchTitle2'>請輸入基本資料</h2>
	{{#formAlert}}{{> components_alert}}{{/formAlert}}
	{{#formIntro}}<p>{{&formIntro}}</p>{{/formIntro}}
	{{&formTop}}
        {{&formTop}}
        {{#form}}
          {{> box_formGroup}}
        {{/form}}
        {{#regField}}
          {{> box_recaptchaFieldH}}
        {{/regField}}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
          {{&formButton}}
          </div>
        </div>
    {{&formButtom}}
	</div>	
</div>

