<div class='text'>
	<section class='contentHeader '>
		<div class='container'>
			<div class='row'>
				<div class='contentHeaderDot'></div>
					<h1 class='column border contentHeaderTitle'>聯絡我們</h1>
					<div class='pull-right'>
						<div class='contentHeaderMenu' >
							<button class='contentHeaderMenuDate'>發布日期 △ </button>
							<button class='border contentHeaderMenuViews'>觀看次數</button>
							<button class='border contentHeaderMenuVideoLength'>影片長度</button>
							<button class='border_ '><span class='glyphicon glyphicon-th-large'></span></button>
							<button class='border'><span class='glyphicon glyphicon-th-list'></span></button>
						</div>
					</div>
					<br>
					<div class='pageSerachResultInfo'>
						查詢條件dfsfsafsdfasfasfdasdfasfd，共4252525符合結果。

				</div>
			</div>
		</div>
	</section>	
</div>
<div class='pageTextContentHead'></div>
<div class='pageTextContentBody'>
	<div class='container w900'>
	<h2 class='text-center pageSearchTitle2'>請輸入基本資料</h2>
	{{#formAlert}}{{> components_alert}}{{/formAlert}}
	{{#formIntro}}<p>{{&formIntro}}</p>{{/formIntro}}
	{{&formTop}}
        {{&formTop}}
        <div class='w700'>
			<label> <span class='border inline'>姓名</span> <input type='text' placeholder='*必填' name="name" value="" data-validate='{"rangelength":[1,128],"required":true}'> </label>
			<label> <span class='border inline'>電話</span> <input type='text' placeholder='*選填' name="phone" value="" data-validate='{"rangelength":[6,32],"phone":true}'> </label>
		</div>
		<div class='w700'>
			<label> <span class='border inline'>E-mail</span> <input class='w550' type='text' placeholder='*必填' name="email" value="" data-validate='{"rangelength":[6,128],"required":true,"email":true}'> </label>
		</div>
		<hr>
		<div class='w700'>
			<label> <span class='border inline'>內容</span> <textarea name="note" rows='5' class='w550' type='text' placeholder='請輸入內容' data-validate='{"required":true}'></textarea> </label>
		</div>
		<hr>
        {{#regField}}
          {{> box_recaptchaFieldH}}
        {{/regField}}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
          {{&formButton}}
          </div>
        </div>
    {{&formButtom}}
	</div>	
</div>

