{{#hasTrail}}
<ol class="breadcrumb">
  {{#trail}}
  {{^last}}
  <li><a href="{{&link}}">{{&title}}</a></li>
  {{/last}}
  {{#last}}
  <li class="active">{{&title}}</li>
  {{/last}}
  {{/trail}}
</ol>
{{/hasTrail}}