<div id="column_{{_ckey}}" class="form-group">
  <label for="{{id}}" class="col-sm-{{#LCSize}}{{LCSize}}{{/LCSize}}{{^LCSize}}2{{/LCSize}} control-label">{{&label}}</label>
  <div class="col-sm-{{#FCSize}}{{FCSize}}{{/FCSize}}{{^FCSize}}10{{/FCSize}}">
    {{&field}}
    {{#tip}}<span class="help-block">{{&tip}}</span>{{/tip}}
  </div>
</div>