<div{{#id}} {{id}}{{/id}} class="media{{#class}} {{class}}{{/class}}"{{#attr}} {{&attr}}{{/attr}}>
  {{#img}}
  <a class="thumbnail pull-left" href="{{&path}}" data-cmfunc="preview" data-cmdata-headline="{{&name}}" data-cmdata-desc="{{&desc}}">
    <img class="media-object" src="{{&thumbnail}}" alt="{{&headline}}" title="{{&headline}}" />
  </a>
  {{/img}}
  <div class="media-body">
    {{#htmlHeadline}}
    <h4 class="media-heading">{{&htmlHeadline}}</h4>
    {{/htmlHeadline}}
    {{^htmlHeadline}}
    <h4 class="media-heading">{{&headline}}</h4>
    {{/htmlHeadline}}
    {{&desc}}
  </div>
</div>