<div id="{{id}}" class="navbar-header">
  {{#hasItems}}
  <button data-target="#{{id}}_navbar_collapse" data-toggle="collapse" class="navbar-toggle" type="button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  {{/hasItems}}
  {{#header}}
  <a{{#url}} href="{{url}}"{{/url}} class="navbar-brand">{{&text}}</a>
  {{/header}}
</div>
<div id="{{id}}_navbar_collapse" class="collapse navbar-collapse">
{{&items}}
</div>