<ul class="nav navbar-nav{{#isRight}} navbar-right{{/isRight}}">
{{#items}}
  {{#hasSubItems}}
  <li class="dropdown{{#top.active}} active{{/top.active}}">
    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">{{&top.text}} <b class="caret"></b></a>
    <ul class="dropdown-menu">
    {{#subItems}}
      {{#divider}}
      <li class="divider"></li>
      {{/divider}}
      {{^divider}}
      <li{{#active}} class="active"{{/active}}>{{&link}}</li>
      {{/divider}}
    {{/subItems}}
    </ul>
  </li>
  {{/hasSubItems}}
  {{^hasSubItems}}
  <li{{#top.active}} class="active"{{/top.active}}>{{&top.link}}</li>
  {{/hasSubItems}}
{{/items}}
</ul>