<li data-cmtree-item="node" data-cmtree-id="{{id}}" data-cmtree-name="{{name}}">
  {{> catalogPicture_treeNodeInfo}}
  <div data-cmtree-item="node-sub" class="node-sub">{{#_childrens}}{{> catalogPicture_treeMain}}{{/_childrens}}</div>
</li>