{{#hasNodes}}
<ul data-cmtree-item="node-tree" class="node-tree">
  {{#nodes}}
    {{> catalogPicture_treeNode}}
  {{/nodes}}
</ul>
{{/hasNodes}}
{{^hasNodes}}
<div class="node-sub-empty" data-cmtree-subempty="true"><i class="icofont-info-sign"></i>&nbsp;{{&nodesEmptyMsg}}</div>
{{/hasNodes}}