<header class="header" data-spy="affix" data-offset-top="0">
  <div class="navbar-helper">
    <div class="row-fluid">
      <div class="span2">
        <div class="panel-sitename">
          <h2><a href="{{link}}">{{&logo}}</a></h2>
        </div>
      </div>
{{#account}}
      <div class="span6">
        <!--<div class="panel-search">
          <form class="form-search">
            <div class="input-icon-append">
              <button type="submit" rel="tooltip-bottom" title="search" class="icon"><i class="icofont-search"></i></button>
              <input class="input-large search-query grd-white" maxlength="23" placeholder="Search here..." type="text">
            </div>
          </form>
        </div>-->
      </div>
      <div class="span4">
        <!--panel button ext-->
        <div class="panel-ext">
          <div class="btn-group">
            <!--notification
            <a class="btn btn-danger btn-small" data-toggle="dropdown" href="#" title="3 notification">3</a>
            <ul class="dropdown-menu dropdown-notification">
              <li class="dropdown-header grd-white"><a href="#">View All Notifications</a></li>
              <li class="new">
                <a href="#">
                  <div class="notification">John Doe commented on a post</div>
                  <div class="media">
                    <img class="media-object pull-left" data-src="js/holder.js/64x64" />
                    <div class="media-body">
                      <h4 class="media-heading">Lorem ipsum <small class="helper-font-small"> john doe</small></h4>
                      <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
            -->
          </div>
          <div class="btn-group">
            <a class="btn btn-inverse btn-small dropdown-toggle" data-toggle="dropdown" href="javascript:;">{{funcTitle}}</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              {{#hasShortcut}}
                {{#shortcut}}
                  {{&.}}
                {{/shortcut}}
              <li class="divider"></li>
              {{/hasShortcut}}
              <li>{{&shortcutLink}}</li>
            </ul>
          </div>
          <div class="btn-group lang-select">
            <a class="btn btn-inverse btn-small dropdown-toggle" data-toggle="dropdown" href="javascript:;">{{langTitle}}</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {{#lang}}
              <li><a data-code="{{id}}" href="javascript:;">{{text}}</a></li>
            {{/lang}}
            </ul>
          </div>
          <div class="btn-group user-group">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <img class="corner-all" align="middle" src="{{account.image_s}}" title="{{account.name}}" alt="{{account.name}}" />
              <button class="btn btn-small btn-inverse">{{name}}</button>
            </a>
            <ul class="dropdown-menu dropdown-user" role="menu" aria-labelledby="dLabel">
              <li>
                <div class="media">
                  <a class="pull-left" href="javascript:;"><img class="img-circle" src="{{account.image_l}}" title="profile" alt="profile" /></a>
                  <div class="media-body description">
                    <p><strong>{{name}}</strong></p>
                    <p class="muted">{{email}}</p>
                    <p class="muted">{{group}}</p>
                    <!--<p class="action"><a class="link" href="#">Activity</a> - <a class="link" href="#">Setting</a></p>-->
                    {{&linkPasswordChange}}
                  </div>
                </div>
              </li>
              <li class="dropdown-footer">
                <div>{{&button}}</div>
              </li>
            </ul>
            
          </div>
        </div><!--panel button ext-->
      </div>
{{/account}}
    </div>
  </div>
</header>