{{#hasResponsive}}
<div class="table-responsive">
{{/hasResponsive}}
  <table{{#tAttr}} {{&tAttr}}{{/tAttr}}>
    <thead>
      <tr>
        {{#tHeader}}
        <th{{#attr}} {{&attr}}{{/attr}}>{{&text}}</th>
        {{/tHeader}}
      </tr>
    </thead>
    <tbody>
      {{#tRows}}
      <tr{{#attr}}{{/attr}}>
        {{#tCols}}
        <td{{#attr}} {{&attr}}{{/attr}}>{{&text}}</td>
        {{/tCols}}
      </tr>
      {{/tRows}}
    </tbody>
  </table>
{{#hasResponsive}}
</div>
{{/hasResponsive}}