<div class='pageSearchContent'>
	<div class='container w900'>
		<h2 class='text-center pageSearchTitle2'>請選擇欲欲前往的頁面</h2>
		<hr>
		<br>
		<ul class='text-center '>
			<li> <a href="/media/" class='border width180'>隨選視訊</a> </li>
			<li> <a href="/sound/" class='border width180'>語言學習</a> </li>
			<li> <a href="/news/" class='border width180'>最新消息</a> </li>
			<li> <a href="/question/" class='border width180'>常見問題</a> </li>
			<li> <a href="/link/" class='border width180'>友站連結</a> </li>
			<li><a href='mailto:library@fcu.edu.tw?subject=逢甲大學隨選視訊系統問題與建議' class='border width180'>聯絡我們</a> </li>
			<li> <a href="/search/" class='border width180'>進階查詢</a> </li>
		</ul>
		<br>
		<hr>
		<br>
	</div>	
</div>